<div [id]="id" class="fm_loader_conversation {{class}}" (window:resize)="on_resize($event);">
    <div class="content">
        <div class="conversation_question" [ngStyle]="{width: title.width, margin: title.margin}"
            *ngFor="let title of number_titles"></div>
        <div class="date" [ngStyle]="{width: text.width, margin: text.margin}" *ngFor="let text of number_texts"></div>
    </div>
    <div class="actions">
        <div class="button_action"></div>
        <div class="button_action"></div>
    </div>
</div>