.fm_loader_conversation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--white);
    border: 1px solid var(--neutral);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    opacity: 0.32;
}

.fm_loader_conversation .content {
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    text-align: right;
}

.fm_loader_conversation .content .conversation_question {
    height: 24px;
    background: var(--load_element);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_loader_conversation .content .date {
    height: var(--spacing_xs);
    background: var(--load_element);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_loader_conversation .actions {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_loader_conversation .actions .button_action {
    display: inline-block;
    width: var(--spacing_m);
    height: var(--spacing_m);
    background: var(--load_element);
    border-radius: var(--spacing_xs);
    margin-right: var(--margin_base);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_loader_conversation .actions .button_action:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {

    .fm_loader_conversation,
    .fm_loader_conversation .content,
    .fm_loader_conversation .actions {
        align-items: flex-start;
        text-align: left;
    }

    .fm_loader_conversation {
        margin: var(--margin_base) 0px;
    }
}

@media (min-width: 1366px) {}