<div [id]="id" class="fm_profile_menu {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="body">
        <p class="title">{{"for_modules.profile.t0000" | translate}}</p>
        <div class="content">
            <div class="field" id="name">
                <p class="label min_text">{{"for_modules.profile.t0001" | translate}}</p>
                <p class="value title">{{"for_modules.profile.t0002" | translate}}</p>
            </div>
            <div class="field" id="email">
                <p class="label min_text">{{"for_modules.profile.t0003" | translate}}</p>
                <p class="value text">{{"for_modules.profile.t0004" | translate}}</p>
            </div>
            <div class="field" id="phone">
                <p class="label min_text">{{"for_modules.profile.t0005" | translate}}</p>
                <p class="value text">{{"for_modules.profile.t0006" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        <app-button id="close" class="footer_button" [icon_code]="''" [placeholder]="'for_modules.profile.t0007'"
            [style]="'red'" (clicked)="on_close();"></app-button>
    </div>
</div>