<div [id]="id" class="fm_window_chat {{class}} {{location}}" (window:resize)="on_resize($event);"
    [ngClass]="{collapse_window: collapse_window, collapse_bookstore: collapse_bookstore, stage_1: stage == '1', stage_2: stage == '2', stage_3: stage == '3'}">
    <div class="header">
        <div class="left" *ngIf="!collapse_window">
            <p class="title title_stage" *ngIf="stage == '1'">{{"for_modules.window_chat.t0000" | translate}}</p>
            <p class="title title_stage" *ngIf="stage == '2'">{{"for_modules.window_chat.t0001" | translate}}</p>
            <p class="title title_stage" *ngIf="stage == '3'">{{"for_modules.window_chat.t0002" | translate}}</p>
        </div>
        <div class="right">
            <app-button id="collapse" class="right_action" [icon_code]="'transition_left'"
                [code_icon_off]="'transition_left'" [code_icon_on]="'transition_right'" [placeholder]="''"
                [tooltip]="'for_modules.window_chat.t0003'" [style]="'white'"
                (clicked)="on_collapse_window($event);"></app-button>
        </div>
    </div>
    <div class="body">
        <p class="title title_stage" *ngIf="stage == '1' && collapse_window">{{"for_modules.window_chat.t0000" |
            translate}}</p>
        <p class="title title_stage" *ngIf="stage == '2' && collapse_window">{{"for_modules.window_chat.t0001" |
            translate}}</p>
        <p class="title title_stage" *ngIf="stage == '3' && collapse_window">{{"for_modules.window_chat.t0002" |
            translate}}</p>
        <div class="sheet" *ngIf="!collapse_window">
            <div class="chat_room">
                <div class="explanation" *ngIf="!show_answers">
                    <p class="text description_chat" *ngIf="stage == '1'">{{"for_modules.window_chat.t0005" |
                        translate}}</p>
                    <p class="text description_chat" *ngIf="stage == '2'">{{"for_modules.window_chat.t0006" |
                        translate}}</p>
                    <p class="text description_chat" *ngIf="stage == '3'">{{"for_modules.window_chat.t0007" |
                        translate}}</p>
                </div>
                <div id="answers_{{id}}" class="answers" *ngIf="show_answers">
                    <app-loader id="loader_answers" class="loader_answers" *ngIf="show_loader"
                        [placeholder]="'for_modules.window_chat.t0011'"></app-loader>
                    <app-request id="answer_{{answer.id}}" class="answer" [location]="'window_chat'" [request]="answer"
                        *ngFor="let answer of current_conversation.answers"></app-request>
                </div>
            </div>
            <div class="document_bookstore" *ngIf="stage == '2'">
                <div class="bookstore">
                    <div id="document_{{document.id}}" class="document" *ngFor="let document of documents_list"
                        title="{{document.name}}" [ngClass]="{selected: document.selected, hide: !document.show_hide}"
                        (click)="on_select_document_bookstore(document);">
                        <p class="placeholder text">{{document.name| translate}}</p>
                    </div>
                </div>
                <div class="actions">
                    <app-button id="collapse_bookstore" class="document_bookstore_action"
                        [icon_code]="'transition_right'" [code_icon_off]="'transition_right'"
                        [code_icon_on]="'transition_left'" [placeholder]="''"
                        [tooltip]="'for_modules.window_chat.t0003'" [style]="'white'" *ngIf="!collapse_bookstore"
                        (clicked)="on_collapse_bookstore();"></app-button>
                    <app-button id="collapse_bookstore" class="document_bookstore_action" [icon_code]="''"
                        [placeholder]="'for_modules.window_chat.t0003'" [style]="'white'" *ngIf="collapse_bookstore"
                        (clicked)="on_collapse_bookstore();"></app-button>
                </div>
            </div>
        </div>
        <div class="writer" *ngIf="!collapse_window">
            <div class="left">
                <div class="chat_input">
                    <input id="inp_{{stage}}" type="text" class="text input"
                        [placeholder]="s_translate.instant('for_modules.window_chat.t0008')"
                        (keyup)="on_key_up($event);">
                    <div class="actions" *ngIf="stage == '3'">
                        <input type="file" name="input_file_chat" id="input_file_chat" class="input_attach" hidden
                            (change)="on_load_document($event);">
                        <label for="input_file_chat" class="attach">
                            <i class="icons icon_attach" common tooltip="'for_modules.window_chat.t0009'"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="right">
                <app-button id="send" class="right_action" [icon_code]="'keyboard_return'" [placeholder]="''"
                    [tooltip]="'for_modules.window_chat.t0010'" [style]="'red'" (clicked)="on_submit();"></app-button>
            </div>
        </div>
    </div>
</div>