.fm_window_chat {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    height: calc(100% - 0px);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    -o-border-radius: var(--spacing_s);
}

.fm_window_chat.collapse_window {
    max-width: 82px;
}

.fm_window_chat .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: var(--spacing_xs);
}

.fm_window_chat .header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.fm_window_chat .header .left .title_stage {
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_window_chat .header .right,
.fm_window_chat .body .sheet .document_bookstore .actions,
.fm_window_chat .body .writer .left .chat_input .actions,
.fm_window_chat .body .writer .right {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    gap: var(--margin_base);
    min-height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: var(--spacing_xs);
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
}

.fm_window_chat .header .right .right_action,
.fm_window_chat .body .sheet .document_bookstore .actions .document_bookstore_action,
.fm_window_chat .body .writer .left .chat_input .actions .chat_input_actions,
.fm_window_chat .body .writer .right .right_action {
    display: inline-flex;
    margin-right: var(--margin_base);
}

.fm_window_chat .header .right .right_action:last-child,
.fm_window_chat .body .sheet .document_bookstore .actions .document_bookstore_action:last-child,
.fm_window_chat .body .writer .left .chat_input .actions .chat_input_actions:last-child,
.fm_window_chat .body .writer .right .right_action:last-child {
    margin-right: 0px;
}

.fm_window_chat .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: calc(100% - 66px);
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.fm_window_chat.collapse_window .body {
    justify-content: flex-end;
    height: calc(100% - 72px);
}

.fm_window_chat .body .title_stage {
    position: absolute;
    transform-origin: 0% 50%;
    height: 48px;
    width: calc(100vh - 168px);
    display: block;
    margin-left: 24px;
    margin-bottom: -24px;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.fm_window_chat .body .sheet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    height: calc(100% - 72px);
    gap: var(--margin_base);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.fm_window_chat .body .sheet .chat_room {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    width: calc(100% - 0px);
    gap: var(--margin_base);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.fm_window_chat.stage_2 .body .sheet .chat_room {
    width: calc(100% - 90px);
}

.fm_window_chat.stage_2.collapse_bookstore .body .sheet .chat_room {
    width: calc(100% - 176px);
}

.fm_window_chat .body .sheet .chat_room .explanation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fm_window_chat .body .sheet .chat_room .explanation .description_chat {
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 1;
    width: 100%;
}

.fm_window_chat .body .sheet .chat_room .answers {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: auto;
    height: calc(100% - 0px);
    overflow-y: auto;
    grid-gap: var(--spacing_xs);
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border-radius: var(--margin_base);
    -o-border-radius: var(--margin_base);
    -webkit-border-radius: var(--margin_base);
    -moz-border-radius: var(--margin_base);
    -ms-border-radius: var(--margin_base);
}

.fm_window_chat .body .sheet .chat_room .answers .answer {
    width: 100%;
}

.fm_window_chat .body .sheet .chat_room .answers .loader_answers {
    display: flex;
}

.fm_window_chat .body .sheet .document_bookstore {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--white);
    border: 1px solid var(--borders);
    max-width: 82px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    -o-border-radius: var(--spacing_xs);
}

.fm_window_chat.collapse_bookstore .body .sheet .document_bookstore {
    max-width: 168px;
}

.fm_window_chat .body .sheet .document_bookstore .bookstore {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: calc(100% - 68px);
    overflow-y: auto;
    grid-gap: var(--spacing_xs);
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border-radius: var(--spacing_xs);
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px var(--spacing_xs);
    gap: var(--margin_base);
    min-height: var(--spacing_m);
    background: var(--light);
    border: 1px solid var(--neutral);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: var(--margin_base);
    cursor: pointer;
    border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    -o-border-radius: var(--spacing_xs);
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document:last-child {
    margin-bottom: 0px;
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document:active {
    border-color: var(--borders);
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document.selected {
    border-color: var(--black);
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document.hide {
    display: none;
}

.fm_window_chat .body .sheet .document_bookstore .bookstore .document .placeholder {
    display: block;
    width: auto;
    text-align: center;
    color: var(--black);
    width: 88%;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
    text-overflow: none;
    overflow: none;
}

.fm_window_chat.collapse_bookstore .body .sheet .document_bookstore .bookstore .document .placeholder {
    width: 100%;
}

.fm_window_chat .body .writer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    gap: var(--spacing_xs);
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.fm_window_chat .body .writer .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 66px);
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.fm_window_chat .body .writer .left .chat_input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--margin_base);
    min-height: var(--spacing_m);
    gap: var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    -o-border-radius: var(--spacing_xs);
}

.fm_window_chat .body .writer .left .chat_input .input {
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 1;
    width: calc(100% - 0px);
}

.fm_window_chat.stage_3 .body .writer .left .chat_input .input {
    width: calc(100% - 48px);
}

.fm_window_chat .body .writer .left .chat_input .actions {
    min-height: 32px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.fm_window_chat .body .writer .left .chat_input .actions .attach {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: var(--spacing_s);
    height: var(--spacing_s);
    background: var(--light);
    border: 1px solid var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    border-radius: var(--margin_base);
    -webkit-border-radius: var(--margin_base);
    -moz-border-radius: var(--margin_base);
    -ms-border-radius: var(--margin_base);
    -o-border-radius: var(--margin_base);
}

.fm_window_chat .body .writer .left .chat_input .actions .attach .icons {
    font-size: var(--spacing_xs);
    color: var(--black);
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {

    .fm_window_chat .body .sheet .document_bookstore .bookstore .document:hover,
    .fm_window_chat .body .sheet .document_bookstore .bookstore .document:active {
        border-color: var(--borders);
    }

    .fm_window_chat .body .sheet .document_bookstore .bookstore .document:active {
        transform: scale(0.98);
        -webkit-transform: scale(0.98);
        -moz-transform: scale(0.98);
        -ms-transform: scale(0.98);
        -o-transform: scale(0.98);
    }
}

@media (min-width: 1366px) {}

@-webkit-keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}