<div [id]="id" class="fm_help_menu {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="navigation_bar">
        <app-button id="back" class="navigation_button" [icon_code]="'arrow_back'" [placeholder]="''"
            [tooltip]="'for_modules.help.t0000'" [style]="'white'" (clicked)="on_back();"></app-button>
    </div>
    <div class="body">
        <p class="title">{{"for_modules.help.t0001" | translate}}</p>
        <div class="content">
            <app-button id="help" class="content_button" [icon_code]="''" [placeholder]="'for_modules.help.t0002'"
                [style]="'white'" (clicked)="on_open('help');"></app-button>
            <app-button id="center_privacy" class="content_button" [class]="'content_button'" [icon_code]="''"
                [placeholder]="'for_modules.help.t0003'" [style]="'white'"
                (clicked)="on_open('center_privacy');"></app-button>
            <app-button id="frequently_asked_questions" class="content_button" [class]="'content_button'"
                [icon_code]="''" [placeholder]="'for_modules.help.t0004'" [style]="'white'"
                (clicked)="on_open('frequently_asked_questions');"></app-button>
        </div>
    </div>
    <div class="footer_bar">
        <app-button id="close" class="footer_button" [icon_code]="''" [placeholder]="'for_modules.help.t0005'"
            [style]="'red'" (clicked)="on_close();"></app-button>
    </div>
</div>