.c__chat_hm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 174px;
    height: calc(100vh - 0px);
    gap: var(--spacing_xs);
    isolation: isolate;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.c__chat_hm .workspaces {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: calc(100% - 168px);
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    z-index: 1;
}

.c__chat_hm .workspaces.writer_mode {
    height: calc(100% - 116px);
}

.c__chat_hm .workspaces .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacing_s);
    width: calc(100% - calc(var(--spacing_s) * 2));
    margin-bottom: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    -webkit-animation: fade_in_down 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_down 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.c__chat_hm .workspaces .header .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    flex: none;
    order: 0;
    flex-grow: 1;
}

.c__chat_hm .workspaces .header .left svg {
    height: 72px;
}

.c__chat_hm .workspaces .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px var(--spacing_s);
    width: calc(100% - calc(var(--spacing_s) * 2));
    height: calc(100% - 152px);
    gap: var(--margin_base);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    -webkit-animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
    animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
}

.c__chat_hm .workspaces.writer_mode .body {
    display: block;
}

.c__chat_hm .workspaces .body .list {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing_s);
    width: 100%;
    height: auto;
    max-height: 100%;
    gap: var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c__chat_hm .workspaces .body .sheet {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing_s);
    gap: var(--spacing_xs);
    height: auto;
    height: calc(100% - 0px);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 1;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .workspaces .body .sheet .stages,
.c__chat_hm .workspaces .header .left .stages {
    margin-bottom: var(--spacing_s);
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    min-height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .workspaces .header .left .stages {
    margin-bottom: 0px;
    width: auto;
    max-width: calc(100% - 80px);
}

.c__chat_hm .workspaces .body .sheet .stages .stage,
.c__chat_hm .workspaces .header .left .stages .stage {
    display: inline-flex;
    margin-right: var(--margin_base);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px var(--spacing_xs);
    gap: var(--margin_base);
    height: 48px;
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .workspaces .body .sheet .stages .stage.selected,
.c__chat_hm .workspaces .header .left .stages .stage.selected {
    border-color: var(--black);
}

.c__chat_hm .workspaces .body .sheet .stages .stage:active,
.c__chat_hm .workspaces .header .left .stages .stage:active {
    -o-transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

.c__chat_hm .workspaces .body .sheet .stages .stage:last-child,
.c__chat_hm .workspaces .header .left .stages .stage:last-child {
    margin-right: 0px;
}

.c__chat_hm .workspaces .body .sheet .stages .stage .text,
.c__chat_hm .workspaces .header .left .stages .stage .text {
    color: var(--black);
}

.c__chat_hm .workspaces .body .list .greetings,
.c__chat_hm .workspaces .body .sheet .greetings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: var(--alignment_defect);
    padding: 0px;
    width: 100%;
    height: calc(100% - 88px);
    gap: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c__chat_hm .workspaces .body .list .greetings {
    height: calc(100% - 0px);
}

.c__chat_hm .workspaces .body .list .greetings .hello,
.c__chat_hm .workspaces .body .sheet .greetings .hello {
    display: block;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c__chat_hm .workspaces .body .list .greetings .information,
.c__chat_hm .workspaces .body .sheet .greetings .information {
    display: block;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.c__chat_hm .workspaces .body .sheet .answers {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: auto;
    height: calc(100% - 84px);
    overflow-y: auto;
    grid-gap: var(--spacing_xs);
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .workspaces .body .sheet .answers .answer {
    width: 100%;
}

.c__chat_hm .workspaces .body .sheet .answers .loader_answers {
    display: flex;
}

.c__chat_hm .workspaces .body .list .name {
    display: block;
    width: 100%;
    text-align: right;
    color: var(--black);
    margin-bottom: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c__chat_hm .workspaces .body .list .chats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: auto;
    height: calc(100% - 56px);
    overflow-y: auto;
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .workspaces .body .list .chats .conversation:first-child {
    width: 100%;
}

.c__chat_hm .workspaces .body .list .chats .conversation {
    width: calc(50% - var(--margin_base));
}

.c__chat_hm .task_bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: var(--spacing_s);
    width: calc(100% - calc(var(--spacing_s) * 2));
    height: auto;
    gap: var(--margin_base);
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    z-index: 3;
    transform-origin: 50% 100%;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.c__chat_hm .task_bar .window {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    min-width: var(--spacing_xl);
    width: var(--spacing_xl);
    min-height: 4px;
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 3;
    transform-origin: 0% 100%;
    -webkit-animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c__chat_hm .task_bar .window.open {
    padding: var(--spacing_xs);
    width: 100%;
}

.c__chat_hm .task_bar .window .menu_options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    flex: none;
    order: 0;
    flex-grow: 1;
    overflow-y: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .task_bar .window .menu_options .menu_action {
    width: 100%;
    -webkit-animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    animation: fade_in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.c__chat_hm .task_bar .window .component_options {
    width: 100%;
    -webkit-animation: fade_in_left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    animation: fade_in_left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

.c__chat_hm .task_bar .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.c__chat_hm .task_bar .bar .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.c__chat_hm .task_bar .bar .left .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c__chat_hm .task_bar .bar .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.c__chat_hm .task_bar .bar .right .new {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 0;
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c__chat_hm .task_bar .bar .writer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: calc(100% - 0px);
    gap: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.c__chat_hm .task_bar .bar .writer .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 128px);
    padding: 0px;
    order: 0;
    flex-grow: 1;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--margin_base) var(--margin_base) var(--margin_base) var(--spacing_xs);
    width: 100%;
    max-width: 616px;
    min-height: 50px;
    gap: var(--spacing_xs);
    background: var(--light);
    border: 1px solid var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .input {
    width: calc(100% - var(--spacing_m));
    max-width: 512px;
    color: var(--black);
    background: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input.stage_1 .input {
    width: 100%;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .input::placeholder {
    color: var(--borders);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: var(--spacing_s);
    height: var(--spacing_s);
    background: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: var(--margin_base);
    cursor: pointer;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach.with_file {
    background: var(--black);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach:hover {
    -o-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach:active {
    -o-transform: scale(0.94);
    -webkit-transform: scale(0.94);
    -moz-transform: scale(0.94);
    -ms-transform: scale(0.94);
    transform: scale(0.94);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach .icons {
    font-size: var(--spacing_xs);
    color: var(--black);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach .dot {
    display: none;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 4px;
    left: 4px;
    background: var(--red);
    -o-border-radius: var(--spacing_s);
    -webkit-border-radius: var(--spacing_s);
    -moz-border-radius: var(--spacing_s);
    -ms-border-radius: var(--spacing_s);
    border-radius: var(--spacing_s);
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach.with_file .dot {
    display: block;
}

.c__chat_hm .task_bar .bar .writer .left .chat_input .actions .attach.with_file .icons {
    color: var(--light);
}

.c__chat_hm .task_bar .bar .writer .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    width: 104px;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: var(--margin_base);
}

.c__chat_hm .lightbox {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    background: var(--lightbox);
    transform-origin: 15.38% 80%;
    z-index: 2;
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.c__chat_hm .lightbox.show {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .c__chat_hm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: var(--spacing_s);
        width: calc(100vw - calc(var(--spacing_s) * 2));
        max-width: 1784px;
        margin: 0px auto;
        height: calc(100vh - 0px);
        gap: var(--spacing_s);
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        z-index: 0;
    }

    .c__chat_hm .task_bar {
        position: relative;
        box-sizing: border-box;
        /*display: block;*/
        flex-direction: column;
        align-items: flex-start;
        padding: var(--spacing_xs);
        gap: var(--spacing_xs);
        width: 100%;
        max-width: 256px;
        height: calc(100% - calc(var(--spacing_xs) * 4));
        background: var(--light);
        border: 1px solid var(--borders);
        transform-origin: 0% 50%;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
        -o-border-radius: var(--spacing_s);
        -webkit-border-radius: var(--spacing_s);
        -moz-border-radius: var(--spacing_s);
        -ms-border-radius: var(--spacing_s);
        border-radius: var(--spacing_s);
        -webkit-animation: fade_in_left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
        animation: fade_in_left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    }

    .c__chat_hm .task_bar svg {
        height: 50px;
    }

    .c__chat_hm .task_bar .list {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        width: calc(100% - 0px);
        height: auto;
        height: calc(100% - 196px);
        gap: var(--spacing_xs);
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
    }

    .c__chat_hm .task_bar .list.help_options {
        height: calc(100% - 466px);
    }

    .c__chat_hm .task_bar .list.settings_options {
        height: calc(100% - 502px);
    }

    .c__chat_hm .task_bar .list.profile {
        height: calc(100% - 414px);
    }

    .c__chat_hm .task_bar .list .name {
        display: block;
        text-align: left;
        color: var(--black);
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin-bottom: var(--spacing_xs);
    }

    .c__chat_hm .task_bar .list .chats {
        /*display: flex;*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        height: auto;
        height: calc(100% - 56px);
        overflow-y: auto;
        gap: var(--spacing_xs);
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        -o-border-radius: var(--spacing_xs);
        -webkit-border-radius: var(--spacing_xs);
        -moz-border-radius: var(--spacing_xs);
        -ms-border-radius: var(--spacing_xs);
        border-radius: var(--spacing_xs);
    }

    .c__chat_hm .task_bar .list .chats .conversation {
        width: 100%;
        margin-bottom: var(--spacing_xs);
    }

    .c__chat_hm .task_bar .list .chats .conversation:last-child {
        margin-bottom: 0px;
    }

    .c__chat_hm .task_bar .menu_options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
        gap: var(--margin_base);
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
        /*margin-top: var(--spacing_xs);*/
    }

    .c__chat_hm .task_bar .menu_options .menu_action {
        width: 100%;
    }

    .c__chat_hm .task_bar .menu_options .component_options {
        width: 100%;
    }

    .c__chat_hm .workspaces {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
        width: calc(100% - 288px);
        height: calc(100% - calc(var(--spacing_xs) * 4));
        gap: var(--spacing_xs);
        flex: none;
        order: 1;
        align-self: stretch;
        animation: fade_in_right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
        -webkit-animation: fade_in_right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    }

    .c__chat_hm .workspaces .workspace {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        flex: none;
        order: 0;
        align-self: stretch;
    }

    .c__chat_hm .workspaces .workspace.minimal {
        width: 82px !important;
    }

    .c__chat_hm.three_three .workspaces .workspace {
        width: calc(33% - var(--margin_base));
    }

    .c__chat_hm.two_three .workspaces .workspace {
        width: calc(50% - 58px);
    }

    .c__chat_hm.one_three .workspaces .workspace {
        width: calc(100% - 196px);
    }
}

@media (min-width: 1366px) {}

@-webkit-keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_down {
    from {
        opacity: 0;
        -o-transform: translate3d(0, -100%, 0);
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_left {
    from {
        opacity: 0;
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_right {
    from {
        opacity: 0;
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}