<div [id]="id" class="c__chat_hm {{class}} {{location}}" (window:resize)="on_resize($event);"
    [ngClass]="{three_three: number_of_windows_collapse == 0, two_three: number_of_windows_collapse == 1, one_three: number_of_windows_collapse == 2}">
    <div class="task_bar" *ngIf="desktop_mode">
        <!---<app-button id="collapse" class="button_action" [icon_code]="'left_panel_close'"
            [code_icon_off]="'left_panel_close'" [code_icon_on]="'left_panel_open_'" [placeholder]="''"
            [tooltip]="'home.chat.t0008'" [style]="'white'"></app-button>-->
        <svg viewBox="0 0 173 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M43.5391 30.9072C43.5391 19.4428 52.7729 10.1488 64.1631 10.1488C68.889 10.1488 73.2342 11.7445 76.7109 14.4314C78.3167 15.6731 80.6188 15.3687 81.8524 13.7524C83.086 12.1361 82.7836 9.819 81.1778 8.57738C76.4651 4.93496 70.5611 2.76819 64.1643 2.76819C48.724 2.76819 36.2075 15.3663 36.2075 30.9072C36.2075 46.4481 48.724 59.0462 64.1643 59.0462C71.3007 59.0462 77.8204 56.3495 82.7595 51.9202C84.2714 50.5646 84.4051 48.2317 83.0571 46.71C81.7091 45.1883 79.3925 45.0549 77.8806 46.4105C74.2329 49.6831 69.4335 51.6668 64.1643 51.6668C52.7741 51.6668 43.5403 42.3728 43.5403 30.9084L43.5391 30.9072ZM46.2894 30.9072C46.2894 20.9706 54.292 12.9158 64.1643 12.9158C68.2638 12.9158 72.0247 14.2968 75.0376 16.6261C77.8481 18.7977 81.8765 18.2654 84.0341 15.4366C86.1928 12.6078 85.664 8.55313 82.8523 6.3815C77.6758 2.38139 71.1875 0 64.1643 0C47.205 0 33.4573 13.8373 33.4573 30.9072C33.4573 47.9771 47.205 61.8144 64.1643 61.8144C72.0018 61.8144 79.166 58.851 84.5894 53.9863C87.2349 51.6134 87.4686 47.5309 85.1098 44.8682C82.7523 42.2055 78.6962 41.9702 76.0507 44.3443C72.8873 47.1816 68.7324 48.8986 64.1643 48.8986C54.2932 48.8986 46.2894 40.8438 46.2894 30.9072Z"
                fill="var(--black)" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M56.464 53.2636L54.2535 50.7464C54.5679 50.3694 54.8727 49.985 55.1678 49.5921C51.1719 47.6388 47.8964 44.4256 45.8521 40.4655C45.7654 40.6061 45.6762 40.7444 45.5847 40.8814L40.4455 35.031C39.33 33.7602 37.8278 33.0376 36.275 32.8824C35.3594 32.7914 34.4246 32.8969 33.5404 33.2049C32.7694 33.4717 32.037 33.8936 31.3888 34.4708C28.7338 36.834 28.4844 40.9153 30.8323 43.5877L35.0318 48.3675C33.6476 48.7143 32.1984 48.8986 30.707 48.8986C20.8347 48.8986 12.8321 40.8438 12.8321 30.9072C12.8321 20.9706 20.8347 12.917 30.707 12.917C33.35 12.917 35.8594 13.4942 38.1169 14.5309C38.9578 14.9164 39.7637 15.3663 40.5287 15.8731C42.6682 17.293 44.4872 19.1627 45.8521 21.3489C47.8964 17.3888 51.1719 14.1756 55.1678 12.2222C53.6258 10.1791 51.8369 8.33487 49.8444 6.73556C49.071 6.11353 48.2675 5.5291 47.435 4.98589C42.6224 1.83212 36.8773 0 30.707 0C13.7477 0 0 13.8373 0 30.9072C0 47.9771 13.7477 61.8143 30.707 61.8143C35.5172 61.8143 40.0709 60.7013 44.1234 58.7164L46.8508 61.8204C49.1987 64.4916 53.2536 64.7426 55.9087 62.3794C56.3761 61.9635 56.7688 61.4942 57.0856 60.9886C57.5916 60.1835 57.9048 59.2862 58.0229 58.3647C58.2481 56.5835 57.7398 54.715 56.464 53.2636ZM56.7543 14.5309C52.4778 16.4939 49.1035 20.1048 47.435 24.5572C48.1759 26.5324 48.5807 28.6725 48.5807 30.9072C48.5807 33.1418 48.1759 35.2832 47.435 37.2571C49.1035 41.7095 52.4766 45.3204 56.7531 47.2835C59.707 42.5353 61.414 36.9213 61.414 30.9072C61.414 24.8931 59.707 19.2791 56.7543 14.5309Z"
                fill="var(--red)" />
            <path
                d="M116.624 18.3692H94.2705C92.9167 18.3692 91.8202 17.2841 91.8202 15.9467V11.7071C91.8202 10.3684 92.9179 9.28455 94.2705 9.28455H116.623C117.977 9.28455 119.074 10.3684 119.074 11.7071V15.9467C119.074 17.2841 117.977 18.3692 116.624 18.3692Z"
                fill="var(--black)" />
            <path
                d="M115.488 17.0385H93.1349C91.8868 17.0385 90.8798 16.0387 90.8798 14.811V10.5715C90.8798 9.34276 91.8879 8.34412 93.1349 8.34412H115.487C116.735 8.34412 117.744 9.34282 117.744 10.5715V14.811C117.744 16.0386 116.735 17.0385 115.488 17.0385Z"
                fill="var(--light)" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M93.1349 8.53928C91.9936 8.53928 91.0749 9.45265 91.0749 10.5715V14.811C91.0749 15.9289 91.9926 16.8433 93.1349 16.8433H115.488C116.63 16.8433 117.548 15.9288 117.548 14.811V10.5715C117.548 9.45277 116.63 8.53928 115.487 8.53928H93.1349ZM90.6846 10.5715C90.6846 9.23284 91.7822 8.14893 93.1349 8.14893H115.487C116.841 8.14893 117.939 9.23284 117.939 10.5715V14.811C117.939 16.1485 116.841 17.2336 115.488 17.2336H93.1349C91.781 17.2336 90.6846 16.1484 90.6846 14.811V10.5715Z"
                fill="var(--black)" />
            <path
                d="M114.841 11.0648H114.763L114.76 10.7847L114.648 10.9614H114.611L114.494 10.7847V11.0673H114.417L114.415 10.6295H114.483L114.63 10.8491L114.77 10.6283H114.838L114.841 11.0648ZM114.342 10.6308L114.012 10.6333V10.7103H114.138L114.141 11.0711H114.219L114.216 10.709H114.342V10.632V10.6308ZM112.268 10.5942L111.26 12.3077L110.228 10.6081L109.56 10.6119L109.587 14.4741L110.212 14.4703L110.193 11.7008L110.87 12.7972C110.908 12.8591 110.961 12.912 111.024 12.9486C111.242 13.0799 111.525 13.0092 111.656 12.7909L112.319 11.6843L112.338 14.4539L112.962 14.4501L112.936 10.5879L112.268 10.5929V10.5942ZM107.202 11.991L107.21 13.1265C107.216 13.9593 106.662 14.493 105.834 14.4994L104.536 14.5082L104.51 10.6459L105.809 10.6371C106.637 10.6308 107.198 11.1569 107.203 11.991M106.578 13.0773L106.57 12.049C106.566 11.5077 106.157 11.2629 105.77 11.2655L105.127 11.2692L105.144 13.8748L105.789 13.8697C106.175 13.8672 106.581 13.6174 106.578 13.0761M95.787 12.3695L95.2356 12.2257C95.011 12.1537 94.7599 12.0591 94.7574 11.7437C94.7549 11.4181 95.0464 11.2566 95.4829 11.2541C95.7908 11.2591 96.0949 11.3311 96.3725 11.4673L96.3674 10.8226C96.0734 10.7153 95.763 10.6611 95.4489 10.6611C94.5656 10.6674 94.1253 11.22 94.1291 11.7487C94.1328 12.2774 94.4029 12.6294 94.958 12.7909L95.5359 12.9348C95.8741 13.0332 96.0608 13.1922 96.0621 13.4634C96.0646 13.8104 95.7681 14.0186 95.324 14.0211C94.9719 14.0237 94.5644 13.8331 94.3196 13.7006L94.3246 14.353C94.63 14.5309 94.977 14.6255 95.3303 14.6255C95.7202 14.623 96.0898 14.5006 96.3346 14.2798C96.5718 14.0653 96.7018 13.7448 96.6993 13.4168C96.6955 12.8969 96.4002 12.5587 95.787 12.3682"
                fill="var(--black)" />
            <path
                d="M101.353 13.9872C101.391 14.0225 101.431 14.0553 101.474 14.0856C101.643 13.8585 101.736 13.5658 101.734 13.22L101.726 11.9734C101.72 11.1394 101.16 10.6145 100.332 10.6195C99.5043 10.6246 98.9504 11.1583 98.9567 11.9923L98.9655 13.239C98.9706 14.0717 99.5321 14.5979 100.36 14.5916C100.695 14.589 100.986 14.5007 101.211 14.3405C101.169 14.3102 101.121 14.2786 101.069 14.2459C100.837 14.102 100.726 14.025 100.417 14.0048C100.4 14.0048 100.384 14.0061 100.367 14.0061C99.9863 14.0086 99.5813 13.7739 99.5775 13.2339L99.5687 11.9873C99.5649 11.4473 99.9661 11.2063 100.347 11.2037C100.728 11.2012 101.132 11.4359 101.136 11.9759L101.145 13.2225C101.145 13.2339 101.145 13.244 101.145 13.2554C101.15 13.5329 101.166 13.8093 101.354 13.9859M101.861 14.1701C101.673 14.1701 101.498 14.2837 101.435 14.4616C101.305 14.825 101.618 15.1606 101.976 15.0761C102.141 15.037 102.276 14.9007 102.313 14.7341C102.379 14.4326 102.15 14.1689 101.861 14.1701Z"
                fill="var(--red)" />
            <path
                d="M172.568 49.3322C170.414 50.1066 167.927 50.4938 165.108 50.4938C162.337 50.4938 159.947 49.9674 157.939 48.9147C155.93 47.8499 154.394 46.3435 153.329 44.3954C152.276 42.4352 151.75 40.1786 151.75 37.6255C151.75 34.8788 152.343 32.4346 153.528 30.2929C154.714 28.1512 156.39 26.4995 158.556 25.3379C160.722 24.1642 163.214 23.5774 166.034 23.5774C168.284 23.5774 170.462 23.8496 172.568 24.3941V31.636C171.842 31.2004 170.977 30.8616 169.972 30.6196C168.968 30.3776 167.952 30.2566 166.923 30.2566C164.794 30.2566 163.112 30.8676 161.877 32.0897C160.655 33.3118 160.044 34.9695 160.044 37.0628C160.044 39.144 160.655 40.7896 161.877 41.9996C163.112 43.1975 164.757 43.7964 166.814 43.7964C168.714 43.7964 170.632 43.3124 172.568 42.3444V49.3322Z"
                fill="var(--black)" />
            <path
                d="M127.737 26.445C127.737 27.534 127.338 28.4173 126.54 29.0949C125.753 29.7725 124.712 30.1113 123.418 30.1113C122.159 30.1113 121.125 29.7604 120.314 29.0586C119.516 28.3568 119.116 27.4856 119.116 26.445C119.116 25.3803 119.503 24.5212 120.278 23.8678C121.064 23.2023 122.111 22.8695 123.418 22.8695C124.712 22.8695 125.753 23.2023 126.54 23.8678C127.338 24.5212 127.737 25.3803 127.737 26.445ZM119.552 50.04V31.4544H127.284V50.04H119.552Z"
                fill="var(--black)" />
            <path
                d="M142.149 50.0399V47.2085H142.076C140.842 49.3986 138.954 50.4937 136.413 50.4937C134.659 50.4937 133.285 49.9734 132.293 48.9328C131.301 47.8922 130.805 46.5007 130.805 44.7583C130.805 41.1041 133.049 38.9866 137.538 38.4058L142.149 37.8068C142.149 37.2018 141.876 36.7057 141.332 36.3185C140.787 35.9313 140.055 35.7377 139.136 35.7377C137.054 35.7377 134.858 36.3306 132.547 37.5164V32.4889C133.552 32.0533 134.81 31.6964 136.322 31.4181C137.835 31.1398 139.13 31.0006 140.206 31.0006C143.365 31.0006 145.651 31.6782 147.067 33.0334C148.495 34.3765 149.209 36.6271 149.209 39.7852V50.0399H142.149ZM137.575 43.7237C137.575 44.2319 137.732 44.6494 138.047 44.9761C138.373 45.3028 138.833 45.4661 139.426 45.4661C140.237 45.4661 140.89 45.1636 141.386 44.5586C141.894 43.9536 142.149 43.1792 142.149 42.2354V41.5276L139.535 41.8906C138.228 42.1084 137.575 42.7194 137.575 43.7237Z"
                fill="var(--black)" />
            <path
                d="M117.156 36.9539C117.156 40.9832 115.855 44.2986 113.254 46.9001L120.133 53.543H110.295L106.992 50.1852C106.024 50.3909 105.014 50.4938 103.961 50.4938C101.517 50.4938 99.2903 49.9432 97.2817 48.8421C95.2852 47.7289 93.7304 46.1741 92.6172 44.1776C91.504 42.169 90.9474 39.9003 90.9474 37.3714C90.9474 34.7215 91.51 32.3378 92.6353 30.2203C93.7606 28.1028 95.3397 26.4693 97.3725 25.3198C99.4053 24.1582 101.716 23.5774 104.306 23.5774C106.798 23.5774 109.025 24.134 110.985 25.2472C112.957 26.3483 114.476 27.9273 115.541 29.9843C116.617 32.0292 117.156 34.3524 117.156 36.9539ZM108.843 37.1717C108.843 35.03 108.432 33.3421 107.609 32.1079C106.786 30.8737 105.661 30.2566 104.233 30.2566C102.672 30.2566 101.456 30.8495 100.585 32.0353C99.7138 33.2211 99.2782 34.8969 99.2782 37.0628C99.2782 39.1803 99.7078 40.8319 100.567 42.0177C101.438 43.2035 102.618 43.7964 104.106 43.7964C105.522 43.7964 106.665 43.1975 107.536 41.9996C108.408 40.8017 108.843 39.1924 108.843 37.1717Z"
                fill="var(--red)" />
        </svg>
        <div class="list {{options_to_open}}">
            <!--<p class="title name">{{"home.chat.t0001" | translate}}</p>
            <div class="chats">
                <ng-container *ngIf="conversation_list; else loader_conversation">
                    <app-conversation id="conversation_{{conversation.id}}" class="conversation" [location]="'chat_hm'"
                        [conversation]="conversation" *ngFor="let conversation of conversation_list"></app-conversation>
                </ng-container>
                <ng-template #loader_conversation>
                    <app-loader-conversation id="conversation_{{loader_conversation}}" class="conversation"
                        *ngFor="let loader_conversation of [0,1,2]"></app-loader-conversation>
                </ng-template>
            </div>-->
        </div>
        <div class="menu_options">
            <app-button id="help" class="menu_action" [class]="'menu_action'" [icon_code]="'question_mark'"
                [placeholder]="'home.chat.t0009'" [style]="'white'" *ngIf="!options_to_open"
                (clicked)="options_to_open = 'help_options';"></app-button>
            <app-button id="settings" class="menu_action" [class]="'menu_action'" [icon_code]="'settings'"
                [placeholder]="'home.chat.t0010'" [style]="'white'" *ngIf="!options_to_open"
                (clicked)="options_to_open = 'settings_options';"></app-button>
            <div id="help_options" class="component_options" *ngIf="options_to_open == 'help_options'">
                <app-help-menu [location]="'chat_hm'" (back)="on_back();" (close)="on_back();"></app-help-menu>
            </div>
            <div id="settings_options" class="component_options" *ngIf="options_to_open == 'settings_options'">
                <app-settings-menu [location]="'chat_hm'" (back)="on_back();" (close)="on_back();"></app-settings-menu>
            </div>
            <div id="profile" class="component_options" *ngIf="options_to_open == 'profile'">
                <app-profile-menu [location]="'chat_hm'" (close)="on_close();"></app-profile-menu>
            </div>
        </div>
    </div>
    <div class="workspaces" *ngIf="desktop_mode">
        <app-window-chat [id]="'stage_1'" class="workspace" [stage]="'1'" [location]="'chat_hm'"
            (collapse)="on_collapse($event);"></app-window-chat>
        <app-window-chat [id]="'stage_2'" class="workspace" [stage]="'2'" [location]="'chat_hm'"
            (collapse)="on_collapse($event);"></app-window-chat>
        <app-window-chat [id]="'stage_3'" class="workspace" [stage]="'3'" [location]="'chat_hm'"
            (collapse)="on_collapse($event);">
            (collapse)="on_collapse($event);"</app-window-chat>
    </div>
    <!--<div class="workspace" *ngIf="desktop_mode">
        <div class="header">
            <div class="left">
                <div class="stages">
                    <div id="stage_{{stage.id}}" class="stage" *ngFor="let stage of stage_list"
                        (click)="on_stage(stage);" [ngClass]="{selected: stage.selected}">
                        <p class="text">{{stage.placeholder | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <app-avatar id="profile" class="avatar" (clicked)="options_to_open = 'profile';"></app-avatar>
            </div>
        </div>
        <div class="body">
            <div class="sheet">
                <div class="greetings" *ngIf="!show_answers">
                    <tp-writer class="title hello" [selector]="'hello_twp'" [options]="hello_options"></tp-writer>
                    <tp-writer class="text max_text information" [selector]="'information_twp'"
                        [options]="information_options"></tp-writer>
                </div>
                <div id="requests" class="requests" *ngIf="show_answers">
                    <app-request id="request_{{request.id}}" class="request" [location]="'chat_hm'" [request]="request"
                        *ngFor="let request of current_conversation.answers"></app-request>
                </div>
            </div>
            <div class="writer">
                <div class="left">
                    <div class="chat_input"
                        [ngClass]="{stage_1: stage_list[0].selected, stage_2: stage_list[1].selected, stage_3: stage_list[2].selected}">
                        <input type="text" class="text input" [placeholder]="placeholder_input"
                            (keyup)="on_key_up($event);" [(ngModel)]="question">
                        <div class="actions">
                            <input type="file" name="input_file_chat" id="input_file_chat" class="input_attach"
                                *ngIf="stage_list[2].selected" hidden (change)="on_load_doc($event);">
                            <label for="input_file_chat" class="attach" *ngIf="!stage_list[0].selected"
                                [ngClass]="{with_file: stage_list[1].selected}">
                                <div class="dot"></div>
                                <i class="icons icon_attach" common tooltip="'home.chat.t0014'"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <app-button id="send" class="button_action" [icon_code]="'keyboard_return'" [placeholder]="''"
                        [tooltip]="'home.chat.t0015'" [style]="'red'" (clicked)="on_submit();"></app-button>
                </div>
            </div>
        </div>
    </div>-->
    <div class="workspaces" *ngIf="!desktop_mode" [ngClass]="{writer_mode: writer_mode}">
        <div class="header">
            <div class="left">
                <svg viewBox="0 0 96 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M58.885 54.7464L61.0956 57.2636C62.3713 58.715 62.8797 60.5835 62.6544 62.3647C62.6544 62.3648 62.6544 62.365 62.6544 62.3651C64.6306 62.8109 66.6859 63.0462 68.7958 63.0462C75.9323 63.0462 82.452 60.3495 87.3911 55.9202C88.903 54.5646 89.0367 52.2317 87.6887 50.71C86.3406 49.1883 84.024 49.0549 82.5122 50.4105C78.8645 53.6831 74.0651 55.6668 68.7958 55.6668C65.5704 55.6668 62.5179 54.9215 59.799 53.5927C59.5039 53.9853 59.1993 54.3695 58.885 54.7464ZM50.4833 44.4661C49.0065 41.6054 48.1719 38.355 48.1719 34.9084L48.1707 34.9072C48.1707 31.4599 49.0056 28.2089 50.483 25.3478C49.1181 23.1621 47.2994 21.2927 45.1602 19.8731C45.16 19.873 45.1599 19.8729 45.1597 19.8727C42.4233 24.2219 40.8391 29.3783 40.8391 34.9072C40.8391 35.5712 40.8619 36.2299 40.9069 36.8824C42.4596 37.0377 43.9617 37.7603 45.0771 39.031L50.2162 44.8814C50.3076 44.7446 50.3967 44.6065 50.4833 44.4661ZM61.7169 64.9891C61.4001 65.4945 61.0075 65.9636 60.5402 66.3794C57.8851 68.7426 53.8302 68.4916 51.4823 65.8204L48.755 62.7164C44.7024 64.7013 40.1488 65.8143 35.3386 65.8143C18.3792 65.8143 4.63156 51.9771 4.63156 34.9072C4.63156 17.8373 18.3792 4 35.3386 4C41.5086 4 47.2534 5.83195 52.0659 8.98546C56.8789 5.83213 62.6248 4 68.7958 4C75.8191 4 82.3074 6.38139 87.4839 10.3815C90.2956 12.5531 90.8244 16.6078 88.6656 19.4366C86.5081 22.2654 82.4797 22.7977 79.6692 20.6261C76.6563 18.2968 72.8953 16.9158 68.7958 16.9158C58.9236 16.9158 50.921 24.9706 50.921 34.9072C50.921 38.3722 51.8942 41.6084 53.5806 44.354C52.9822 43.3796 52.4737 42.3434 52.0666 41.2571C52.8075 39.2832 53.2122 37.1418 53.2122 34.9072C53.2122 32.6725 52.8075 30.5324 52.0666 28.5572C53.7351 24.1048 57.1093 20.4939 61.3859 18.5309C64.3386 23.2791 66.0456 28.8931 66.0456 34.9072C66.0456 40.9213 64.3385 46.5353 61.3847 51.2835C60.2641 50.7691 59.2056 50.1416 58.2235 49.4155C61.1845 51.6051 64.8403 52.8986 68.7958 52.8986C73.3639 52.8986 77.5188 51.1816 80.6823 48.3443C83.3278 45.9702 87.3839 46.2055 89.7414 48.8682C92.1002 51.5309 91.8664 55.6134 89.221 57.9863C83.7976 62.851 76.6334 65.8144 68.7958 65.8144C66.3595 65.8144 63.9894 65.5288 61.7169 64.9891ZM54.4753 10.7351C54.4755 10.7352 54.4757 10.7354 54.4759 10.7356C56.4684 12.3349 58.2573 14.1791 59.7993 16.2221C62.5178 14.8938 65.5698 14.1488 68.7946 14.1488C73.5205 14.1488 77.8658 15.7445 81.3425 18.4314C82.9483 19.6731 85.2504 19.3687 86.484 17.7524C87.7176 16.1361 87.4152 13.819 85.8094 12.5774C81.0967 8.93496 75.1926 6.76819 68.7958 6.76819C63.5618 6.76819 58.6638 8.21586 54.4753 10.7351ZM42.7486 18.5309C42.7485 18.5309 42.7485 18.5309 42.7485 18.5309C40.4909 17.4942 37.9816 16.917 35.3386 16.917C25.4663 16.917 17.4637 24.9706 17.4637 34.9072C17.4637 44.8438 25.4663 52.8986 35.3386 52.8986C36.8299 52.8986 38.2792 52.7143 39.6633 52.3675L35.4639 47.5877C33.1159 44.9153 33.3653 40.834 36.0204 38.4708C36.6685 37.8936 37.401 37.4717 38.1719 37.2049C38.1721 37.2048 38.1722 37.2048 38.1724 37.2047C38.117 36.4462 38.0888 35.68 38.0888 34.9072C38.0888 28.8924 39.7957 23.279 42.7486 18.5309Z"
                        fill="var(--pure_white)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M59.0193 54.5842C58.9748 54.6384 58.93 54.6925 58.885 54.7464L61.0956 57.2636C61.494 57.7169 61.8175 58.2108 62.0673 58.73C62.4306 59.4853 62.6377 60.2942 62.6918 61.1093C62.7196 61.5283 62.707 61.9489 62.6544 62.3647C64.6307 62.8106 66.6859 63.0462 68.7958 63.0462C75.926 63.0462 82.4406 60.3542 87.3781 55.9318C87.3825 55.9279 87.3868 55.9241 87.3911 55.9202C88.903 54.5646 89.0367 52.2317 87.6887 50.71C87.6848 50.7056 87.6809 50.7012 87.677 50.6969C87.6772 50.6971 87.6769 50.6967 87.677 50.6969C86.3313 49.1925 84.0333 49.0597 82.5257 50.3984C82.5259 50.3983 82.5255 50.3986 82.5257 50.3984C82.5214 50.4023 82.5165 50.4066 82.5122 50.4105C78.8645 53.6831 74.0651 55.6668 68.7958 55.6668C67.3582 55.6668 65.9549 55.5187 64.6002 55.2369C64.317 55.178 64.0358 55.1132 63.7569 55.0427C63.7227 55.0341 63.6885 55.0253 63.6544 55.0165C63.6538 55.0164 63.6532 55.0162 63.6526 55.0161C62.4675 54.7098 61.3235 54.3003 60.2307 53.7975C60.1728 53.7708 60.1151 53.7439 60.0575 53.7168C59.971 53.676 59.8848 53.6346 59.799 53.5927C59.5462 53.9291 59.2862 54.2595 59.0193 54.5842C59.0194 54.5841 59.0193 54.5843 59.0193 54.5842ZM65.2897 52.5526C66.4235 52.7795 67.5959 52.8986 68.7958 52.8986C73.3576 52.8986 77.5073 51.1864 80.6691 48.3561C80.6689 48.3563 80.6693 48.356 80.6691 48.3561C80.6733 48.3524 80.6781 48.3481 80.6823 48.3443C83.3278 45.9702 87.3839 46.2055 89.7414 48.8682C89.7453 48.8725 89.7491 48.8769 89.753 48.8813C92.0956 51.5399 91.8629 55.6042 89.2337 57.9749C89.2338 57.9748 89.2337 57.9749 89.2337 57.9749C89.2295 57.9786 89.2252 57.9826 89.221 57.9863C83.7976 62.851 76.6334 65.8144 68.7958 65.8144C66.4766 65.8144 64.2174 65.5556 62.0452 65.0651C61.9356 65.0404 61.8261 65.015 61.7169 64.9891C61.478 65.3703 61.196 65.7308 60.8713 66.0633C60.7655 66.1717 60.6551 66.2772 60.5402 66.3794C57.8851 68.7426 53.8302 68.4916 51.4823 65.8204L48.755 62.7164C44.7024 64.7013 40.1488 65.8143 35.3386 65.8143C18.3792 65.8143 4.63156 51.9771 4.63156 34.9072C4.63156 17.8373 18.3792 4 35.3386 4C41.0037 4 46.3104 5.54441 50.8661 8.23816C51.2721 8.47822 51.6721 8.72742 52.0659 8.98546C52.39 8.77313 52.7183 8.56678 53.0507 8.36658C57.6547 5.5937 63.0403 4 68.7958 4C75.8191 4 82.3074 6.38139 87.4839 10.3815C87.4886 10.3852 87.4933 10.3888 87.4981 10.3925C87.4979 10.3924 87.4982 10.3926 87.4981 10.3925C90.293 12.5638 90.8192 16.6012 88.6748 19.4245C88.6718 19.4286 88.6687 19.4326 88.6656 19.4366C86.5081 22.2654 82.4797 22.7977 79.6692 20.6261C79.6644 20.6224 79.6596 20.6187 79.6549 20.615C79.655 20.6152 79.6547 20.6149 79.6549 20.615C76.6445 18.2927 72.8886 16.9158 68.7958 16.9158C68.7954 16.9158 68.795 16.9158 68.7946 16.9158C67.5954 16.9159 66.4237 17.0348 65.2906 17.2616C63.9296 17.5339 62.6243 17.9618 61.3938 18.526C61.391 18.5272 61.3882 18.5285 61.3854 18.5298C61.2605 18.5871 61.1364 18.6459 61.013 18.706C59.9612 19.2189 58.9668 19.8324 58.0424 20.5342C56.6835 21.5658 55.4757 22.788 54.458 24.1614C53.8864 24.9328 53.3749 25.7518 52.9303 26.6115C52.6056 27.2392 52.3167 27.8886 52.0661 28.557C52.0662 28.5569 52.0661 28.5572 52.0661 28.557C51.6304 29.7195 51.3107 30.9397 51.1216 32.2025C50.9895 33.0847 50.921 33.9879 50.921 34.9072C50.921 34.9076 50.921 34.908 50.921 34.9084C50.9211 36.935 51.2542 38.8832 51.8681 40.7009C51.9312 40.8876 51.9972 41.073 52.0662 41.257C52.0661 41.2569 52.0662 41.2571 52.0662 41.257C52.0952 41.1796 52.1242 41.1021 52.1522 41.0243C52.3705 40.417 52.5572 39.7944 52.7103 39.1586C53.0385 37.7954 53.2122 36.3713 53.2122 34.9072C53.2122 33.4423 53.0383 32.018 52.7098 30.6542C52.5371 29.9376 52.3214 29.2374 52.0661 28.557C52.3167 27.8886 52.6056 27.2392 52.9303 26.6115C53.3749 25.7518 53.8864 24.9328 54.458 24.1614C55.4757 22.788 56.6835 21.5658 58.0424 20.5342C58.9669 19.8325 59.9618 19.2198 61.0135 18.7071C61.1369 18.6469 61.261 18.5882 61.3859 18.5309C61.6042 18.8819 61.8156 19.2376 62.0201 19.5979C62.4748 20.399 62.8949 21.2226 63.2783 22.0666C65.0552 25.9775 66.0456 30.3263 66.0456 34.9072C66.0456 39.4886 65.055 43.8379 63.2772 47.7491C62.8937 48.5927 62.4737 49.4159 62.019 50.2167C61.8145 50.5769 61.603 50.9325 61.3847 51.2835C61.3858 51.284 61.3867 51.2849 61.3878 51.2854C62.6199 51.8509 63.9269 52.2797 65.2897 52.5526ZM92.7356 46.2158C88.9091 41.8948 82.3113 41.5087 78.0115 45.3666C75.5514 47.5731 72.3379 48.8986 68.7958 48.8986C68.2504 48.8986 67.7126 48.867 67.184 48.8055C69.0255 44.5432 70.0456 39.8411 70.0456 34.9072C70.0456 29.9733 69.0255 25.2714 67.1847 21.0093C67.7134 20.9475 68.2511 20.9158 68.7958 20.9158C71.9777 20.9158 74.8845 21.983 77.2226 23.7907L77.2235 23.7913C81.7943 27.3231 88.3464 26.451 91.8461 21.8624C95.3348 17.29 94.4868 10.7361 89.9289 7.21579C84.0791 2.69562 76.7374 0 68.7958 0C62.7347 0 57.029 1.56575 52.0661 4.31636C47.1036 1.56564 41.3989 0 35.3386 0C16.1456 0 0.631561 15.6527 0.631561 34.9072C0.631561 54.1616 16.1456 69.8143 35.3386 69.8143C39.6767 69.8143 43.8368 69.0121 47.6729 67.545L48.4775 68.4606C52.2878 72.7957 58.8844 73.2081 63.1996 69.3673C63.2012 69.3659 63.2028 69.3645 63.2043 69.3631C65.0266 69.6602 66.8945 69.8144 68.7958 69.8144C77.6604 69.8144 85.7658 66.4589 91.8919 60.964C96.1762 57.121 96.5513 50.5232 92.7356 46.2158ZM50.2162 44.8814C50.3076 44.7446 50.3967 44.6065 50.4833 44.4661C50.1096 43.7423 49.7771 42.9936 49.4888 42.2231C49.2223 41.5109 48.9936 40.7801 48.8052 40.0331C48.7253 39.7164 48.6526 39.3968 48.5874 39.0744C48.4215 38.2551 48.3036 37.4183 48.2368 36.567C48.1938 36.0198 48.1719 35.4667 48.1719 34.9084L48.1707 34.9072C48.1707 33.4793 48.3139 32.0851 48.5868 30.7383C48.652 30.4164 48.7246 30.0971 48.8044 29.7808C48.9929 29.0339 49.2217 28.3031 49.4882 27.591C49.7766 26.8204 50.1092 26.0716 50.483 25.3478C50.2345 24.9498 49.9709 24.5623 49.6931 24.1861C49.6932 24.1862 49.6931 24.1861 49.6931 24.1861C49.2495 23.5855 48.7695 23.0134 48.2566 22.4736C47.6122 21.7955 46.9158 21.168 46.1737 20.5976C45.8447 20.3447 45.5066 20.103 45.1602 19.8731C45.1554 19.8808 45.15 19.8881 45.1452 19.8957C45.1453 19.8957 45.1452 19.8958 45.1452 19.8957C45.1264 19.9258 45.1074 19.9561 45.0887 19.9862C44.4057 21.0833 43.7957 22.2312 43.2658 23.4229C41.7063 26.9297 40.8391 30.8165 40.8391 34.9072C40.8391 35.5712 40.8619 36.2299 40.9069 36.8824C41.0954 36.9013 41.2832 36.9285 41.4697 36.964C41.7086 37.0096 41.9452 37.0688 42.1784 37.1416C42.9814 37.3924 43.743 37.8044 44.4118 38.3748C44.6457 38.5742 44.8682 38.793 45.0771 39.031L50.2162 44.8814ZM36.959 37.7758C37.3471 37.5399 37.7538 37.3496 38.1719 37.2049C38.1687 37.1605 38.166 37.1159 38.1629 37.0714C38.1138 36.3564 38.0888 35.6347 38.0888 34.9072C38.0888 30.3255 39.0792 25.9768 40.8563 22.0659C41.4121 20.8429 42.0448 19.6627 42.7482 18.5315C42.748 18.5318 42.7483 18.5313 42.7482 18.5315C42.3674 18.3567 41.9799 18.1943 41.5854 18.0461C40.7023 17.7145 39.7861 17.4512 38.8433 17.2626C37.7099 17.0359 36.538 16.917 35.3386 16.917C25.4663 16.917 17.4637 24.9706 17.4637 34.9072C17.4637 44.6619 25.176 52.603 34.7983 52.8905C34.9777 52.8959 35.1578 52.8986 35.3386 52.8986C36.8299 52.8986 38.2792 52.7143 39.6633 52.3675L35.4639 47.5877C33.116 44.9153 33.3653 40.834 36.0204 38.4708C36.3171 38.2066 36.6314 37.9749 36.959 37.7758ZM34.0888 34.8908C34.0911 29.9628 35.1107 25.2669 36.9494 21.0099C36.4215 20.9485 35.8841 20.917 35.3386 20.917C27.6996 20.917 21.4637 27.1555 21.4637 34.9072C21.4637 41.1504 25.5086 46.4124 31.0733 48.2243C28.8586 44.0549 29.6834 38.7562 33.361 35.4829C33.5964 35.2733 33.8393 35.0759 34.0888 34.8908ZM36.8643 33.4247C36.8642 33.4247 36.8643 33.4247 36.8643 33.4247ZM59.0174 15.2289C59.018 15.2296 59.0186 15.2304 59.0192 15.2311C59.2858 15.556 59.5459 15.8864 59.7993 16.2221C59.9426 16.1521 60.0868 16.0837 60.232 16.017C61.357 15.4995 62.5363 15.0809 63.7588 14.7721C65.3705 14.365 67.0575 14.1488 68.7946 14.1488C68.795 14.1488 68.7954 14.1488 68.7958 14.1488C73.5213 14.1491 77.8661 15.7447 81.3425 18.4314C81.3472 18.4351 81.3519 18.4387 81.3566 18.4423C81.3564 18.4421 81.3568 18.4424 81.3566 18.4423C82.9575 19.6675 85.242 19.3654 86.4742 17.7652C86.4741 17.7654 86.4744 17.765 86.4742 17.7652C86.4773 17.7611 86.4809 17.7565 86.484 17.7524C87.7176 16.1361 87.4152 13.819 85.8094 12.5774C85.8049 12.5739 85.8004 12.5704 85.7959 12.567C85.7961 12.5671 85.7957 12.5668 85.7959 12.567C81.0855 8.93109 75.1863 6.76819 68.7958 6.76819C65.1096 6.76819 61.59 7.48626 58.3676 8.79101C57.0152 9.33857 55.7152 9.98945 54.4772 10.7339C54.4766 10.7343 54.476 10.7347 54.4753 10.7351C54.816 11.0085 55.1512 11.2895 55.4798 11.577C56.205 12.2117 56.9001 12.8801 57.5629 13.5798C58.0668 14.1118 58.5519 14.6618 59.0174 15.2289Z"
                        fill="var(--pure_white)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M48.1707 34.9072C48.1707 23.4428 57.4045 14.1488 68.7946 14.1488C73.5205 14.1488 77.8658 15.7445 81.3425 18.4314C82.9483 19.6731 85.2504 19.3687 86.484 17.7524C87.7176 16.1361 87.4152 13.819 85.8094 12.5774C81.0967 8.93496 75.1926 6.76819 68.7958 6.76819C53.3556 6.76819 40.8391 19.3663 40.8391 34.9072C40.8391 50.4481 53.3556 63.0462 68.7958 63.0462C75.9323 63.0462 82.452 60.3495 87.3911 55.9202C88.903 54.5646 89.0367 52.2317 87.6887 50.71C86.3406 49.1883 84.024 49.0549 82.5122 50.4105C78.8645 53.6831 74.0651 55.6668 68.7958 55.6668C57.4057 55.6668 48.1719 46.3728 48.1719 34.9084L48.1707 34.9072ZM50.921 34.9072C50.921 24.9706 58.9236 16.9158 68.7958 16.9158C72.8953 16.9158 76.6563 18.2968 79.6692 20.6261C82.4797 22.7977 86.5081 22.2654 88.6656 19.4366C90.8244 16.6078 90.2956 12.5531 87.4839 10.3815C82.3074 6.38139 75.8191 4 68.7958 4C51.8365 4 38.0888 17.8373 38.0888 34.9072C38.0888 51.9771 51.8365 65.8144 68.7958 65.8144C76.6334 65.8144 83.7976 62.851 89.221 57.9863C91.8664 55.6134 92.1001 51.5309 89.7414 48.8682C87.3839 46.2055 83.3278 45.9702 80.6823 48.3443C77.5188 51.1816 73.3639 52.8986 68.7958 52.8986C58.9248 52.8986 50.921 44.8438 50.921 34.9072Z"
                        fill="var(--pure_black)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M61.0956 57.2636L58.885 54.7464C59.1994 54.3694 59.5042 53.985 59.7994 53.5921C55.8035 51.6388 52.528 48.4256 50.4837 44.4655C50.3969 44.6061 50.3078 44.7444 50.2162 44.8814L45.0771 39.031C43.9616 37.7602 42.4594 37.0376 40.9065 36.8824C39.991 36.7914 39.0562 36.8969 38.1719 37.2049C37.401 37.4717 36.6685 37.8936 36.0204 38.4708C33.3653 40.834 33.116 44.9153 35.4638 47.5877L39.6633 52.3675C38.2792 52.7143 36.8299 52.8986 35.3386 52.8986C25.4663 52.8986 17.4637 44.8438 17.4637 34.9072C17.4637 24.9706 25.4663 16.917 35.3386 16.917C37.9816 16.917 40.4909 17.4942 42.7485 18.5309C43.5893 18.9164 44.3953 19.3663 45.1602 19.8731C47.2997 21.293 49.1188 23.1627 50.4837 25.3489C52.528 21.3888 55.8035 18.1756 59.7994 16.2222C58.2574 14.1791 56.4685 12.3349 54.4759 10.7356C53.7025 10.1135 52.899 9.5291 52.0666 8.98589C47.2539 5.83212 41.5089 4 35.3386 4C18.3792 4 4.63156 17.8373 4.63156 34.9072C4.63156 51.977 18.3792 65.8143 35.3386 65.8143C40.1488 65.8143 44.7025 64.7013 48.755 62.7164L51.4823 65.8204C53.8302 68.4916 57.8851 68.7426 60.5402 66.3794C61.0076 65.9635 61.4004 65.4942 61.7172 64.9886C62.2232 64.1835 62.5364 63.2862 62.6544 62.3647C62.8797 60.5835 62.3713 58.715 61.0956 57.2636ZM61.3859 18.5309C57.1093 20.4939 53.7351 24.1048 52.0666 28.5572C52.8075 30.5324 53.2122 32.6725 53.2122 34.9072C53.2122 37.1418 52.8075 39.2832 52.0666 41.2571C53.7351 45.7095 57.1081 49.3204 61.3847 51.2835C64.3385 46.5353 66.0456 40.9213 66.0456 34.9072C66.0456 28.8931 64.3385 23.2791 61.3859 18.5309Z"
                        fill="var(--red)" />
                </svg>
            </div>
        </div>
        <div class="body">
            <div class="list" *ngIf="!writer_mode">
                <!--<p class="title name">{{"home.chat.t0001" | translate}}</p>
                <div class="chats">
                    <ng-container *ngIf="conversation_list; else loader_conversation">
                        <app-conversation id="conversation_{{conversation.id}}" class="conversation"
                            [location]="'chat_hm'" [conversation]="conversation"
                            *ngFor="let conversation of conversation_list"></app-conversation>
                    </ng-container>
                    <ng-template #loader_conversation>
                        <app-loader-conversation id="conversation_{{loader_conversation}}" class="conversation"
                            *ngFor="let loader_conversation of [0,1,2]"></app-loader-conversation>
                    </ng-template>
                </div>-->
                <div class="greetings" *ngIf="!show_answers">
                    <tp-writer class="title hello" [selector]="'hello_twp_hm_mobile'"
                        [options]="hello_options"></tp-writer>
                    <tp-writer class="text max_text information" [selector]="'information_twp_hm_mobile'"
                        [options]="extra_information_options"></tp-writer>
                </div>
            </div>
            <div class="sheet" *ngIf="writer_mode">
                <div class="stages">
                    <div id="stage_{{stage.id}}" class="stage" *ngFor="let stage of stage_list"
                        (click)="on_stage(stage);" [ngClass]="{selected: stage.selected}">
                        <p class="text">{{stage.placeholder | translate}}</p>
                    </div>
                </div>
                <div class="greetings" *ngIf="!show_answers">
                    <tp-writer class="title hello" [selector]="'hello_twp'" [options]="hello_options"></tp-writer>
                    <tp-writer class="text max_text information" [selector]="'information_twp'"
                        [options]="information_options"></tp-writer>
                </div>
                <div id="answers" class="answers" *ngIf="show_answers">
                    <app-loader id="loader_answers" class="loader_answers" *ngIf="show_loader"
                        [placeholder]="'home.chat.t0022'"></app-loader>
                    <app-request id="answer_{{answer.id}}" class="answer" [location]="'chat_hm'" [request]="answer"
                        *ngFor="let answer of current_conversation.answers"></app-request>
                </div>
            </div>
        </div>
    </div>
    <div class="task_bar" *ngIf="!desktop_mode">
        <div class="window" [ngClass]="{open: window_open}" *ngIf="!writer_mode">
            <div id="menu_options" class="menu_options" *ngIf="menu_mode && !options_to_open">
                <app-button id="help" class="menu_action" [class]="'menu_action'" [icon_code]="''"
                    [placeholder]="'home.chat.t0009'" [style]="'white'"
                    (clicked)="options_to_open = 'help_options';"></app-button>
                <app-button id="settings" class="menu_action" [class]="'menu_action'" [icon_code]="''"
                    [placeholder]="'home.chat.t0010'" [style]="'white'"
                    (clicked)="options_to_open = 'settings_options';"></app-button>
            </div>
            <div id="help_options" class="component_options" *ngIf="options_to_open == 'help_options'">
                <app-help-menu [location]="'chat_hm'" (back)="on_back();" (close)="on_back();"></app-help-menu>
            </div>
            <div id="settings_options" class="component_options" *ngIf="options_to_open == 'settings_options'">
                <app-settings-menu [location]="'chat_hm'" (back)="on_back();" (close)="on_back();"></app-settings-menu>
            </div>
            <div id="profile" class="component_options" *ngIf="options_to_open == 'profile'">
                <app-profile-menu [location]="'chat_hm'" (close)="on_close();"></app-profile-menu>
            </div>
        </div>
        <div class="bar">
            <div class="left" *ngIf="!writer_mode">
                <div class="options">
                    <app-button id="menu" class="button_action" [icon_code]="'menu'" [code_icon_off]="'menu'"
                        [code_icon_on]="'close'" [placeholder]="''" [tooltip]="'home.chat.t0004'"
                        [name]="'home.chat.t0004'" [style]="'white'" (clicked)="on_off_menu($event);"></app-button>
                    <app-button id="profile" class="button_action" [icon_code]="'account_circle'"
                        [code_icon_off]="'account_circle'" [code_icon_on]="'close'" [placeholder]="''"
                        [tooltip]="'home.chat.t0006'" [name]="'home.chat.t0006'" [style]="'white'"
                        (clicked)="on_off_profile();"></app-button>
                </div>
            </div>
            <div class="right" *ngIf="!writer_mode">
                <div class="new">
                    <app-button id="new_chat" class="button_action" [icon_code]="'chat_add_on'" [placeholder]="''"
                        [tooltip]="'home.chat.t0007'" [name]="'home.chat.t0007'" [style]="'red'"
                        (clicked)="on_new_chat();"></app-button>
                </div>
            </div>
            <div class="writer" *ngIf="writer_mode">
                <div class="left">
                    <div class="chat_input"
                        [ngClass]="{stage_1: stage_list[0].selected, stage_2: stage_list[1].selected, stage_3: stage_list[2].selected}">
                        <input type="text" class="text input" [placeholder]="placeholder_input"
                            (keyup)="on_key_up($event);" [(ngModel)]="question">
                        <div class="actions">
                            <input type="file" name="input_file_chat" id="input_file_chat" class="input_attach"
                                *ngIf="stage_list[2].selected" hidden (change)="on_load_doc($event);">
                            <label for="input_file_chat" class="attach" *ngIf="!stage_list[0].selected"
                                [ngClass]="{with_file: stage_list[1].selected}">
                                <div class="dot"></div>
                                <i class="icons icon_attach" common tooltip="'home.chat.t0014'"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <app-button id="send" class="button_action" [icon_code]="'keyboard_return'" [placeholder]="''"
                        [tooltip]="'home.chat.t0015'" [style]="'red'" (clicked)="on_submit();"></app-button>
                    <app-button id="back" class="button_action" [icon_code]="'home'" [placeholder]="''"
                        [tooltip]="'home.chat.t0021'" [style]="'white'" (clicked)="writer_mode = false;"></app-button>
                </div>
            </div>
        </div>
    </div>
    <div class="lightbox" *ngIf="!desktop_mode" [ngClass]="{show: window_open}"></div>
</div>