.c__no_found_st {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: var(--spacing_s);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.c__no_found_st .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing_s);
    gap: var(--margin_base);
    width: calc(100% - calc(var(--spacing_s) * 2));
    height: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.c__no_found_st .body .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--spacing_s);
    gap: var(--spacing_s);
    width: 100%;
    min-width: 352px;
    max-width: 512px;
    background: var(--light);
    border: 1px solid var(--borders);
    border-radius: var(--spacing_s);
    flex: none;
    order: 0;
    flex-grow: 1;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.c__no_found_st .body .content .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: var(--spacing_xs);
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c__no_found_st .body .content .information .title {
    display: block;
    width: 100%;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c__no_found_st .body .content .information .text {
    display: block;
    width: 100%;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c__no_found_st .body .content .actions {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__no_found_st .body .content .actions .button_action {
    display: inline-block;
    margin-right: var(--margin_base);
}

.c__no_found_st .body .content .actions .button_action:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .c__no_found_st .body {
        justify-content: flex-end;
        align-items: center;
        padding: var(--spacing_s) 64px;
        width: calc(100% - 128px);
    }

    .c__no_found_st .body .content,
    .c__no_found_st .body .content .information,
    .c__no_found_st .body .content .actions {
        justify-content: flex-start;
    }

    .c__no_found_st .body .content .information .title,
    .c__no_found_st .body .content .information .text {
        text-align: left;
    }
}

@media (min-width: 1366px) {}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}