<div [id]="id" class="c__no_found_st {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="body">
        <div class="content">
            <div class="information">
                <p class="title">{{"support.no_found.t0000" | translate}}</p>
                <p class="text">{{"support.no_found.t0001" | translate}}</p>
            </div>
            <div class="actions">
                <app-button id="to_home" class="button_action" [placeholder]="'support.no_found.t0002'"
                    [style]="'red'"></app-button>
            </div>
        </div>
    </div>
</div>