.c__home_hm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: calc(100vh - 0px);
    gap: var(--spacing_s);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.c__home_hm .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing_s);
    gap: var(--margin_base);
    width: calc(100% - calc(var(--spacing_s) * 2));
    height: calc(100% - var(--spacing_l));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.c__home_hm .body .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--spacing_s);
    gap: var(--spacing_s);
    width: 100%;
    min-width: 352px;
    max-width: 512px;
    background: var(--light);
    border: 1px solid var(--borders);
    border-radius: var(--spacing_s);
    flex: none;
    order: 0;
    flex-grow: 1;
    -webkit-animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    animation: fade_in_up 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

.c__home_hm .body .content .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: var(--spacing_xs);
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c__home_hm .body .content .information svg {
    height: var(--spacing_l);
}

.c__home_hm .body .content .information .text {
    width: 100%;
    justify-content: flex-end;
    color: var(--black);
}

.c__home_hm .body .content .actions {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    min-height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.c__home_hm .body .content .actions .button_action {
    display: inline-block;
    margin-right: var(--margin_base);
}

.c__home_hm .body .content .actions .button_action:last-child {
    margin-right: 0px;
}

.c__home_hm .body .content .legal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.c__home_hm .body .content .legal .terms_use,
.c__home_hm .body .content .legal .privacy_policy {
    color: var(--black);
    padding: 2px 6px;
    border: 1px solid var(--borders);
    -o-border-radius: var(--margin_base);
    -webkit-border-radius: var(--margin_base);
    -moz-border-radius: var(--margin_base);
    -ms-border-radius: var(--margin_base);
    border-radius: var(--margin_base);
}

.c__home_hm .body .content .legal .terms_use:active,
.c__home_hm .body .content .legal .privacy_policy:active {
    color: var(--pure_white);
    background-color: var(--red);
    border-color: var(--red);
}

.c__home_hm .body .content .legal .separator {
    width: 1px;
    height: var(--spacing_xs);
    background: var(--black);
    flex: none;
    flex-grow: 0;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .c__home_hm .body {
        justify-content: flex-end;
        align-items: center;
        padding: var(--spacing_s) 64px;
        width: calc(100% - 128px);
    }

    .c__home_hm .body .content,
    .c__home_hm .body .content .information,
    .c__home_hm .body .content .actions,
    .c__home_hm .body .content .legal {
        justify-content: flex-start;
        text-align: left;
    }

    .c__home_hm .body .content .information .text {
        justify-content: flex-start;
    }

    .c__home_hm .body .content .information svg {
        margin-right: calc(100% - 174px);
    }

    .c__home_hm .body .content .legal .terms_use:hover,
    .c__home_hm .body .content .legal .privacy_policy:hover {
        color: var(--pure_white);
        background-color: var(--red);
        border-color: var(--red);
    }
}

@media (min-width: 1366px) {}

@-webkit-keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade_in_up {
    from {
        opacity: 0;
        -o-transform: translate3d(0, 100%, 0);
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -o-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}