<div [id]="id" class="c__home_hm {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="body">
        <div class="content">
            <div class="information">
                <svg viewBox="0 0 173 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M43.5391 30.9072C43.5391 19.4428 52.7729 10.1488 64.1631 10.1488C68.889 10.1488 73.2342 11.7445 76.7109 14.4314C78.3167 15.6731 80.6188 15.3687 81.8524 13.7524C83.086 12.1361 82.7836 9.819 81.1778 8.57738C76.4651 4.93496 70.5611 2.76819 64.1643 2.76819C48.724 2.76819 36.2075 15.3663 36.2075 30.9072C36.2075 46.4481 48.724 59.0462 64.1643 59.0462C71.3007 59.0462 77.8204 56.3495 82.7595 51.9202C84.2714 50.5646 84.4051 48.2317 83.0571 46.71C81.7091 45.1883 79.3925 45.0549 77.8806 46.4105C74.2329 49.6831 69.4335 51.6668 64.1643 51.6668C52.7741 51.6668 43.5403 42.3728 43.5403 30.9084L43.5391 30.9072ZM46.2894 30.9072C46.2894 20.9706 54.292 12.9158 64.1643 12.9158C68.2638 12.9158 72.0247 14.2968 75.0376 16.6261C77.8481 18.7977 81.8765 18.2654 84.0341 15.4366C86.1928 12.6078 85.664 8.55313 82.8523 6.3815C77.6758 2.38139 71.1875 0 64.1643 0C47.205 0 33.4573 13.8373 33.4573 30.9072C33.4573 47.9771 47.205 61.8144 64.1643 61.8144C72.0018 61.8144 79.166 58.851 84.5894 53.9863C87.2349 51.6134 87.4686 47.5309 85.1098 44.8682C82.7523 42.2055 78.6962 41.9702 76.0507 44.3443C72.8873 47.1816 68.7324 48.8986 64.1643 48.8986C54.2932 48.8986 46.2894 40.8438 46.2894 30.9072Z"
                        fill="var(--black)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M56.464 53.2636L54.2535 50.7464C54.5679 50.3694 54.8727 49.985 55.1678 49.5921C51.1719 47.6388 47.8964 44.4256 45.8521 40.4655C45.7654 40.6061 45.6762 40.7444 45.5847 40.8814L40.4455 35.031C39.33 33.7602 37.8278 33.0376 36.275 32.8824C35.3594 32.7914 34.4246 32.8969 33.5404 33.2049C32.7694 33.4717 32.037 33.8936 31.3888 34.4708C28.7338 36.834 28.4844 40.9153 30.8323 43.5877L35.0318 48.3675C33.6476 48.7143 32.1984 48.8986 30.707 48.8986C20.8347 48.8986 12.8321 40.8438 12.8321 30.9072C12.8321 20.9706 20.8347 12.917 30.707 12.917C33.35 12.917 35.8594 13.4942 38.1169 14.5309C38.9578 14.9164 39.7637 15.3663 40.5287 15.8731C42.6682 17.293 44.4872 19.1627 45.8521 21.3489C47.8964 17.3888 51.1719 14.1756 55.1678 12.2222C53.6258 10.1791 51.8369 8.33487 49.8444 6.73556C49.071 6.11353 48.2675 5.5291 47.435 4.98589C42.6224 1.83212 36.8773 0 30.707 0C13.7477 0 0 13.8373 0 30.9072C0 47.9771 13.7477 61.8143 30.707 61.8143C35.5172 61.8143 40.0709 60.7013 44.1234 58.7164L46.8508 61.8204C49.1987 64.4916 53.2536 64.7426 55.9087 62.3794C56.3761 61.9635 56.7688 61.4942 57.0856 60.9886C57.5916 60.1835 57.9048 59.2862 58.0229 58.3647C58.2481 56.5835 57.7398 54.715 56.464 53.2636ZM56.7543 14.5309C52.4778 16.4939 49.1035 20.1048 47.435 24.5572C48.1759 26.5324 48.5807 28.6725 48.5807 30.9072C48.5807 33.1418 48.1759 35.2832 47.435 37.2571C49.1035 41.7095 52.4766 45.3204 56.7531 47.2835C59.707 42.5353 61.414 36.9213 61.414 30.9072C61.414 24.8931 59.707 19.2791 56.7543 14.5309Z"
                        fill="var(--red)" />
                    <path
                        d="M116.624 18.3692H94.2705C92.9167 18.3692 91.8202 17.2841 91.8202 15.9467V11.7071C91.8202 10.3684 92.9179 9.28455 94.2705 9.28455H116.623C117.977 9.28455 119.074 10.3684 119.074 11.7071V15.9467C119.074 17.2841 117.977 18.3692 116.624 18.3692Z"
                        fill="var(--black)" />
                    <path
                        d="M115.488 17.0385H93.1349C91.8868 17.0385 90.8798 16.0387 90.8798 14.811V10.5715C90.8798 9.34276 91.8879 8.34412 93.1349 8.34412H115.487C116.735 8.34412 117.744 9.34282 117.744 10.5715V14.811C117.744 16.0386 116.735 17.0385 115.488 17.0385Z"
                        fill="var(--light)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M93.1349 8.53928C91.9936 8.53928 91.0749 9.45265 91.0749 10.5715V14.811C91.0749 15.9289 91.9926 16.8433 93.1349 16.8433H115.488C116.63 16.8433 117.548 15.9288 117.548 14.811V10.5715C117.548 9.45277 116.63 8.53928 115.487 8.53928H93.1349ZM90.6846 10.5715C90.6846 9.23284 91.7822 8.14893 93.1349 8.14893H115.487C116.841 8.14893 117.939 9.23284 117.939 10.5715V14.811C117.939 16.1485 116.841 17.2336 115.488 17.2336H93.1349C91.781 17.2336 90.6846 16.1484 90.6846 14.811V10.5715Z"
                        fill="var(--black)" />
                    <path
                        d="M114.841 11.0648H114.763L114.76 10.7847L114.648 10.9614H114.611L114.494 10.7847V11.0673H114.417L114.415 10.6295H114.483L114.63 10.8491L114.77 10.6283H114.838L114.841 11.0648ZM114.342 10.6308L114.012 10.6333V10.7103H114.138L114.141 11.0711H114.219L114.216 10.709H114.342V10.632V10.6308ZM112.268 10.5942L111.26 12.3077L110.228 10.6081L109.56 10.6119L109.587 14.4741L110.212 14.4703L110.193 11.7008L110.87 12.7972C110.908 12.8591 110.961 12.912 111.024 12.9486C111.242 13.0799 111.525 13.0092 111.656 12.7909L112.319 11.6843L112.338 14.4539L112.962 14.4501L112.936 10.5879L112.268 10.5929V10.5942ZM107.202 11.991L107.21 13.1265C107.216 13.9593 106.662 14.493 105.834 14.4994L104.536 14.5082L104.51 10.6459L105.809 10.6371C106.637 10.6308 107.198 11.1569 107.203 11.991M106.578 13.0773L106.57 12.049C106.566 11.5077 106.157 11.2629 105.77 11.2655L105.127 11.2692L105.144 13.8748L105.789 13.8697C106.175 13.8672 106.581 13.6174 106.578 13.0761M95.787 12.3695L95.2356 12.2257C95.011 12.1537 94.7599 12.0591 94.7574 11.7437C94.7549 11.4181 95.0464 11.2566 95.4829 11.2541C95.7908 11.2591 96.0949 11.3311 96.3725 11.4673L96.3674 10.8226C96.0734 10.7153 95.763 10.6611 95.4489 10.6611C94.5656 10.6674 94.1253 11.22 94.1291 11.7487C94.1328 12.2774 94.4029 12.6294 94.958 12.7909L95.5359 12.9348C95.8741 13.0332 96.0608 13.1922 96.0621 13.4634C96.0646 13.8104 95.7681 14.0186 95.324 14.0211C94.9719 14.0237 94.5644 13.8331 94.3196 13.7006L94.3246 14.353C94.63 14.5309 94.977 14.6255 95.3303 14.6255C95.7202 14.623 96.0898 14.5006 96.3346 14.2798C96.5718 14.0653 96.7018 13.7448 96.6993 13.4168C96.6955 12.8969 96.4002 12.5587 95.787 12.3682"
                        fill="var(--black)" />
                    <path
                        d="M101.353 13.9872C101.391 14.0225 101.431 14.0553 101.474 14.0856C101.643 13.8585 101.736 13.5658 101.734 13.22L101.726 11.9734C101.72 11.1394 101.16 10.6145 100.332 10.6195C99.5043 10.6246 98.9504 11.1583 98.9567 11.9923L98.9655 13.239C98.9706 14.0717 99.5321 14.5979 100.36 14.5916C100.695 14.589 100.986 14.5007 101.211 14.3405C101.169 14.3102 101.121 14.2786 101.069 14.2459C100.837 14.102 100.726 14.025 100.417 14.0048C100.4 14.0048 100.384 14.0061 100.367 14.0061C99.9863 14.0086 99.5813 13.7739 99.5775 13.2339L99.5687 11.9873C99.5649 11.4473 99.9661 11.2063 100.347 11.2037C100.728 11.2012 101.132 11.4359 101.136 11.9759L101.145 13.2225C101.145 13.2339 101.145 13.244 101.145 13.2554C101.15 13.5329 101.166 13.8093 101.354 13.9859M101.861 14.1701C101.673 14.1701 101.498 14.2837 101.435 14.4616C101.305 14.825 101.618 15.1606 101.976 15.0761C102.141 15.037 102.276 14.9007 102.313 14.7341C102.379 14.4326 102.15 14.1689 101.861 14.1701Z"
                        fill="var(--red)" />
                    <path
                        d="M172.568 49.3322C170.414 50.1066 167.927 50.4938 165.108 50.4938C162.337 50.4938 159.947 49.9674 157.939 48.9147C155.93 47.8499 154.394 46.3435 153.329 44.3954C152.276 42.4352 151.75 40.1786 151.75 37.6255C151.75 34.8788 152.343 32.4346 153.528 30.2929C154.714 28.1512 156.39 26.4995 158.556 25.3379C160.722 24.1642 163.214 23.5774 166.034 23.5774C168.284 23.5774 170.462 23.8496 172.568 24.3941V31.636C171.842 31.2004 170.977 30.8616 169.972 30.6196C168.968 30.3776 167.952 30.2566 166.923 30.2566C164.794 30.2566 163.112 30.8676 161.877 32.0897C160.655 33.3118 160.044 34.9695 160.044 37.0628C160.044 39.144 160.655 40.7896 161.877 41.9996C163.112 43.1975 164.757 43.7964 166.814 43.7964C168.714 43.7964 170.632 43.3124 172.568 42.3444V49.3322Z"
                        fill="var(--black)" />
                    <path
                        d="M127.737 26.445C127.737 27.534 127.338 28.4173 126.54 29.0949C125.753 29.7725 124.712 30.1113 123.418 30.1113C122.159 30.1113 121.125 29.7604 120.314 29.0586C119.516 28.3568 119.116 27.4856 119.116 26.445C119.116 25.3803 119.503 24.5212 120.278 23.8678C121.064 23.2023 122.111 22.8695 123.418 22.8695C124.712 22.8695 125.753 23.2023 126.54 23.8678C127.338 24.5212 127.737 25.3803 127.737 26.445ZM119.552 50.04V31.4544H127.284V50.04H119.552Z"
                        fill="var(--black)" />
                    <path
                        d="M142.149 50.0399V47.2085H142.076C140.842 49.3986 138.954 50.4937 136.413 50.4937C134.659 50.4937 133.285 49.9734 132.293 48.9328C131.301 47.8922 130.805 46.5007 130.805 44.7583C130.805 41.1041 133.049 38.9866 137.538 38.4058L142.149 37.8068C142.149 37.2018 141.876 36.7057 141.332 36.3185C140.787 35.9313 140.055 35.7377 139.136 35.7377C137.054 35.7377 134.858 36.3306 132.547 37.5164V32.4889C133.552 32.0533 134.81 31.6964 136.322 31.4181C137.835 31.1398 139.13 31.0006 140.206 31.0006C143.365 31.0006 145.651 31.6782 147.067 33.0334C148.495 34.3765 149.209 36.6271 149.209 39.7852V50.0399H142.149ZM137.575 43.7237C137.575 44.2319 137.732 44.6494 138.047 44.9761C138.373 45.3028 138.833 45.4661 139.426 45.4661C140.237 45.4661 140.89 45.1636 141.386 44.5586C141.894 43.9536 142.149 43.1792 142.149 42.2354V41.5276L139.535 41.8906C138.228 42.1084 137.575 42.7194 137.575 43.7237Z"
                        fill="var(--black)" />
                    <path
                        d="M117.156 36.9539C117.156 40.9832 115.855 44.2986 113.254 46.9001L120.133 53.543H110.295L106.992 50.1852C106.024 50.3909 105.014 50.4938 103.961 50.4938C101.517 50.4938 99.2903 49.9432 97.2817 48.8421C95.2852 47.7289 93.7304 46.1741 92.6172 44.1776C91.504 42.169 90.9474 39.9003 90.9474 37.3714C90.9474 34.7215 91.51 32.3378 92.6353 30.2203C93.7606 28.1028 95.3397 26.4693 97.3725 25.3198C99.4053 24.1582 101.716 23.5774 104.306 23.5774C106.798 23.5774 109.025 24.134 110.985 25.2472C112.957 26.3483 114.476 27.9273 115.541 29.9843C116.617 32.0292 117.156 34.3524 117.156 36.9539ZM108.843 37.1717C108.843 35.03 108.432 33.3421 107.609 32.1079C106.786 30.8737 105.661 30.2566 104.233 30.2566C102.672 30.2566 101.456 30.8495 100.585 32.0353C99.7138 33.2211 99.2782 34.8969 99.2782 37.0628C99.2782 39.1803 99.7078 40.8319 100.567 42.0177C101.438 43.2035 102.618 43.7964 104.106 43.7964C105.522 43.7964 106.665 43.1975 107.536 41.9996C108.408 40.8017 108.843 39.1924 108.843 37.1717Z"
                        fill="var(--red)" />
                </svg>

                <tp-writer class="text" [selector]="'text_twp'" [options]="slogan_options"></tp-writer>
            </div>
            <div class="actions">
                <app-button id="sign_up" class="button_action" [placeholder]="'home.home.t0002'" [style]="'white'"
                    *ngIf="!show_loader"></app-button>
                <app-button id="login" class="button_action" [placeholder]="'home.home.t0003'" [style]="'red'"
                    (clicked)="on_login();" *ngIf="!show_loader"></app-button>
                <app-loader id="loader_actions" class="loader_actions" *ngIf="show_loader"></app-loader>
            </div>
            <div class="legal">
                <a href="#" class="min_text terms_use">{{"home.home.t0004" | translate}}</a>
                <div class="separator"></div>
                <a href="#" class="min_text privacy_policy">{{"home.home.t0005" | translate}}</a>
            </div>
        </div>
    </div>
</div>