.uiux_button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 4px 0px;
    width: auto;
    min-width: 48px;
    max-width: 384px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    cursor: pointer;
}

.uiux_button.switch_field {
    padding: 0px;
}

.uiux_button.with_name {
    flex-direction: column;
    align-items: center;
    height: auto;
}

.uiux_button .content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px var(--spacing_xs);
    min-width: 48px;
    height: 48px;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 0px var(--black);
    flex: none;
    gap: var(--margin_base);
    order: 0;
    flex-grow: 0;
}

.uiux_button.switch_field .content,
.uiux_button.switch_field.off_switch .content {
    border-color: var(--borders);
    box-shadow: none;
}

.uiux_button.switch_field.on_switch .content {
    border-color: var(--black);
}

.uiux_button.with_icon .content {
    justify-content: flex-start;
}

.uiux_button.white .content,
.uiux_button.switch_field .content {
    background-color: var(--light);
}

.uiux_button.only_text.switch_field .content,
.uiux_button.only_text.switch_field .content .placeholder {
    width: 100%;
}

.uiux_button.only_text.switch_field .content .placeholder {
    display: block;
}

.uiux_button.red .content {
    background-color: var(--red);
}

.uiux_button.only_icon .content {
    gap: 0px;
    width: 48px;
    height: 48px;
    padding: 0px;
}

.uiux_button.with_name .content {
    margin-bottom: var(--margin_base);
}

.uiux_button .content:active {
    box-shadow: none;
    -o-transform: translate(0px, 4px);
    -webkit-transform: translate(0px, 4px);
    -moz-transform: translate(0px, 4px);
    -ms-transform: translate(0px, 4px);
    transform: translate(0px, 4px);
}

.uiux_button.switch_field .content:active {
    border-color: var(--black);
    -o-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.uiux_button.left .content .icons_left,
.uiux_button.right .content .icons_right {
    display: flex;
}

.uiux_button.only_icon.left .content .icons_left,
.uiux_button.only_icon.right .content .icons_right {
    font-size: 24px;
}

.uiux_button.left .content .icons_right,
.uiux_button.right .content .icons_left {
    display: none;
}

.uiux_button.white .content .icons_left,
.uiux_button.white .content .icons_right,
.uiux_button.white .content .placeholder,
.uiux_button.switch_field .content {
    color: var(--black);
}

.uiux_button.red .content .icons_left,
.uiux_button.red .content .icons_right,
.uiux_button.red .content .placeholder {
    color: var(--pure_white);
}

.uiux_button .content .placeholder {
    position: relative;
    top: -1px;
    width: auto;
    max-width: calc(100% - 0px);
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 900;
    font-size: 17px;
    min-height: 24px;
}

.uiux_button.switch_field .content .placeholder {
    display: flex;
    align-content: center;
    align-items: center;
    font-family: mokoko, serif;
    font-weight: 300;
    font-size: 17px;
    min-height: 24px;
}

.uiux_button.with_icon .content .placeholder {
    display: block;
    width: 100%;
    max-width: calc(100% - 32px);
}

.uiux_button .name {
    display: block;
    color: var(--black);
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .uiux_button .content:hover {
        box-shadow: 0px 2px 0px var(--black);
        -o-transform: translate(0px, 2px);
        -webkit-transform: translate(0px, 2px);
        -moz-transform: translate(0px, 2px);
        -ms-transform: translate(0px, 2px);
        transform: translate(0px, 2px);
    }

    .uiux_button .content:active {
        box-shadow: none;
        -o-transform: translate(0px, 4px);
        -webkit-transform: translate(0px, 4px);
        -moz-transform: translate(0px, 4px);
        -ms-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }

    .uiux_button.switch_field .content:hover {
        -o-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .uiux_button.switch_field .content:active {
        border-color: var(--black);
        -o-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .uiux_button.content_button,
    .uiux_button.content_button .content {
        width: 100%;
    }

    .uiux_button.content_button .content .placeholder {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 1366px) {}