<div [id]="id" class="uiux_button {{class}} {{alignment}} {{style}} {{button_type}}" common tooltip="{{tooltip}}"
    (window:resize)="on_resize($event);"
    [ngClass]="{deactivated: deactivated, with_name: name, on_switch: change_icon, off_switch: !change_icon }"
    (click)="on_click();">
    <div class="content" [ngStyle]="css_styles">
        <i class="icons_left icon_{{icon_code}}" *ngIf="icon_code"></i>
        <p class="placeholder">{{placeholder | translate}}</p>
        <i class="icons_right icon_{{icon_code}}" *ngIf="icon_code"></i>
    </div>
    <p class="min_text name" *ngIf="icon_code && !placeholder && name">{{name | translate}}</p>
</div>