<div [id]="id" class="uiux_selection {{class}} {{style}}" common tooltip="{{tooltip}}"
    (window:resize)="on_resize($event);" [ngClass]="{deactivated: deactivated, with_name: name}">
    <p class="min_text name" *ngIf="name">{{name | translate}} <span class="required" *ngIf="required">*</span></p>
    <div id="content_selection_{{id}}" class="content" [ngStyle]="css_styles">
        <select class="select text" name="select_{{id}}" id="select_{{id}}" (change)="on_select($event)">
            <option id="option_{{option.value}}" [value]="option.value" *ngFor="let option of options"
                [ngClass]="{hide: option.hide, selected: option.selected}"><i class="icons icon_{{option.icon_code}}"
                    *ngIf="option.icon_code && !option.image"></i><img src="{{option.image}}" alt="" class="imgs">
                {{option.placeholder | translate}}</option>
        </select>
        <i class="icons icon_unfold_more"></i>
    </div>
</div>