.uiux_selection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: auto;
    min-width: 48px;
    max-width: 384px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.uiux_selection.with_name {
    flex-direction: column;
    align-items: center;
    height: auto;
}

.uiux_selection .name {
    display: block;
    color: var(--black);
    text-align: right;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-right: var(--spacing_xs);
    margin-left: 0;
}

.uiux_selection .name .required {
    color: var(--red);
}

.uiux_selection .content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px var(--spacing_xs);
    min-width: 48px;
    height: 48px;
    background-color: var(--light);
    border: 1px solid var(--borders);
    flex: none;
    gap: var(--margin_base);
    order: 0;
    flex-grow: 0;
}

.uiux_selection.with_name .content {
    margin-top: var(--margin_base);
}

.uiux_selection .content .icons {
    color: var(--black);
}

.uiux_selection .content .select {
    position: relative;
    top: -1px;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: block;
    width: 100%;
    max-width: calc(100% - 32px);
    background: transparent;
    color: var(--black);
    white-space: nowrap;
    overflow-x: auto;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: right;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {

    .uiux_selection .name {
        margin-left: var(--spacing_xs);
        margin-right: 0;
    }

    .uiux_selection .name,
    .uiux_selection .content .select {
        text-align: left;
    }
}

@media (min-width: 1366px) {}