.fm_settings_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: var(--margin_base);
    flex: none;
    order: 0;
    flex-grow: 1;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_settings_menu .navigation_bar,
.fm_settings_menu .footer_bar {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    min-height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_settings_menu .navigation_bar .navigation_button,
.fm_settings_menu .footer_bar .footer_button {
    display: inline-flex;
    margin-right: var(--spacing_xs);
}

.fm_settings_menu .navigation_bar .navigation_button:last-child,
.fm_settings_menu .footer_bar .footer_button:last-child {
    margin-right: 0px;
}

.fm_settings_menu .body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--white);
    border: 1px solid var(--borders);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fm_settings_menu .body .title {
    display: block;
    width: auto;
    max-width: 100%;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_settings_menu .body .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: var(--margin_base);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    overflow-y: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_settings_menu .body .content #shuffle_mode {
    width: auto;
    max-width: 100%;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {

    .fm_settings_menu .body .title {
        text-align: left;
    }

    .fm_settings_menu .footer_bar,
    .fm_settings_menu .body,
    .fm_settings_menu .body .content {
        align-items: flex-start;
    }
}

@media (min-width: 1366px) {}