<div [id]="id" class="fm_settings_menu {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="navigation_bar">
        <app-button id="back" class="navigation_button" [icon_code]="'arrow_back'" [placeholder]="''"
            [tooltip]="'for_modules.settings.t0000'" [style]="'white'" (clicked)="on_back();"></app-button>
    </div>
    <div class="body">
        <p class="title">{{"for_modules.settings.t0001" | translate}}</p>
        <div class="content">
            <app-selection [id]="'color_model'" class="field" [name]="'for_modules.settings.t0002'"
                [placeholder]="'for_modules.settings.t0002'" [tooltip]="'for_modules.settings.t0002'"
                [options]="modes_list" (selected)="on_change_mode($event);"></app-selection>
            <app-selection [id]="'change_language'" class="field" [name]="'for_modules.settings.t0003'"
                [placeholder]="'for_modules.settings.t0003'" [tooltip]="'for_modules.settings.t0003'"
                [options]="languages_list" (selected)="on_change_language($event);"></app-selection>
            <app-button id="shuffle_mode" class="navigation_button" [icon_code]="''"
                [placeholder]="'for_modules.settings.t0004'" [placeholder_on]="'for_modules.settings.t0005'"
                [placeholder_off]="'for_modules.settings.t0004'" [tooltip]="'for_modules.settings.t0000'"
                [style]="'white'" [class]="'switch_field'" (clicked)="on_change_hand_mode($event);"></app-button>
        </div>
    </div>
    <div class="footer_bar">
        <app-button id="close" class="footer_button" [icon_code]="''" [placeholder]="'for_modules.settings.t0006'"
            [style]="'red'" (clicked)="on_close();"></app-button>
    </div>
</div>