<div [id]="id" class="fm_conversation {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="content" (click)="on_read();">
        <p class="min_title conversation_question">{{conversation.name | translate}}</p>
        <p class="text date">{{conversation.creation_date.placeholder | translate}}</p>
    </div>
    <div class="actions">
        <app-button id="edit" class="button_action" [icon_code]="'edit_square'" [placeholder]="''"
            [tooltip]="'home.chat.t0002'" [style]="'white'" *ngIf="conversation.actions.update"
            (clicked)="on_update();"></app-button>
        <app-button id="delete" class="button_action" [icon_code]="'delete'" [placeholder]="''"
            [tooltip]="'home.chat.t0003'" [style]="'white'" *ngIf="conversation.actions.delete"
            (clicked)="on_delete();"></app-button>
    </div>
</div>