.fm_conversation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing_xs);
    gap: var(--spacing_xs);
    background: var(--white);
    border: 1px solid var(--neutral);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fm_conversation:active {
    border-color: var(--borders);
    -o-transform: scale(.98);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    transform: scale(.98);
}

.fm_conversation .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fm_conversation .content .conversation_question {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fm_conversation .content .date {
    display: block;
    text-align: right;
    color: var(--black);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fm_conversation .actions {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding: 0px;
    width: 100%;
    gap: var(--margin_base);
    height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    white-space: nowrap;
    overflow-x: auto;
    -o-border-radius: var(--spacing_xs);
    -webkit-border-radius: var(--spacing_xs);
    -moz-border-radius: var(--spacing_xs);
    -ms-border-radius: var(--spacing_xs);
    border-radius: var(--spacing_xs);
}

.fm_conversation .actions .button_action {
    display: inline-block;
    margin-right: var(--margin_base);
}

.fm_conversation .actions .button_action:last-child {
    margin-right: 0px;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .fm_conversation:hover {
        border-color: var(--borders);
    }

    .fm_conversation .content {
        align-items: flex-start;
    }

    .fm_conversation .content .conversation_question,
    .fm_conversation .content .date,
    .fm_conversation .actions {
        text-align: left;
    }
}

@media (min-width: 1366px) {}