.uiux_loader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.uiux_loader .min_title {
    width: 100%;
    justify-content: flex-end;
    color: var(--red);
    font-weight: 900;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {}

@media (min-width: 1366px) {}