<div [id]="id" class="uiux_avatar {{class}}" common tooltip="{{tooltip}}" (window:resize)="on_resize($event);"
    [ngClass]="{deactivated: deactivated}" (click)="on_click();">
    <div class="content" [ngStyle]="css_styles"></div>
</div>