.uiux_avatar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 4px 0px;
    width: auto;
    min-width: 48px;
    max-width: 384px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.uiux_avatar .content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 48px;
    height: 48px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--black);
    box-shadow: 0px 4px 0px var(--black);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.uiux_avatar.white .content {
    background-color: var(--light);
}

.uiux_avatar .content:active {
    box-shadow: none;
    -o-transform: translate(0px, 4px);
    -webkit-transform: translate(0px, 4px);
    -moz-transform: translate(0px, 4px);
    -ms-transform: translate(0px, 4px);
    transform: translate(0px, 4px);
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .uiux_avatar .content:hover {
        box-shadow: 0px 2px 0px var(--black);
        -o-transform: translate(0px, 2px);
        -webkit-transform: translate(0px, 2px);
        -moz-transform: translate(0px, 2px);
        -ms-transform: translate(0px, 2px);
        transform: translate(0px, 2px);
    }

    .uiux_avatar .content:active {
        box-shadow: none;
        -o-transform: translate(0px, 4px);
        -webkit-transform: translate(0px, 4px);
        -moz-transform: translate(0px, 4px);
        -ms-transform: translate(0px, 4px);
        transform: translate(0px, 4px);
    }
}

@media (min-width: 1366px) {}