.fm_request {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--spacing_xs);
    gap: var(--spacing_s);
    background: var(--white);
    border: 1px solid var(--neutral);
    border-radius: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px;
    max-width: calc(100% - var(--margin_base));
}

.fm_request .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--spacing_xs);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fm_request .data .question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fm_request .data .question .user {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px var(--margin_base);
    background: var(--black);
    border: 1px solid var(--borders);
    border-radius: var(--margin_base);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_request .data .question .user .value {
    display: block;
    width: auto;
    text-align: left;
    color: var(--light);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_request .data .question .question_text {
    display: block;
    width: auto;
    text-align: left;
    color: var(--black);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fm_request .data .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.fm_request .data .answer .ia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px var(--margin_base);
    background: var(--red);
    border-radius: var(--margin_base);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_request .data .answer .ia .value {
    display: block;
    width: auto;
    text-align: left;
    color: var(--light);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fm_request .data .answer .answer_text {
    position: relative;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

.fm_request .data .answer .answer_text .value_text {
    position: relative;
    display: flex;
    float: left;
    text-align: left;
    background: var(--white);
    flex-wrap: nowrap;
    color: var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 4px;
    width: 100%;
}

.fm_request .data .answer .answer_text .indicator {
    position: absolute;
    right: 0px;
    width: 0%;
    background: var(--white);
    z-index: 1;
    border-left: 1px solid var(--black);
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-animation: write 2s steps(30) alternate;
    animation: write 2s steps(30) alternate;
}

.fm_request .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: var(--margin_base);
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.fm_request .actions .button_action {
    color: var(--black);
    padding: 2px 6px;
    border: 1px solid var(--borders);
    cursor: pointer;
    -o-border-radius: var(--margin_base);
    -webkit-border-radius: var(--margin_base);
    -moz-border-radius: var(--margin_base);
    -ms-border-radius: var(--margin_base);
    border-radius: var(--margin_base);
}

.fm_request .actions .button_action:active {
    color: var(--pure_white);
    background-color: var(--red);
    border-color: var(--red);
}

.fm_request .context {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px var(--margin_base);
    background: var(--light);
    color: var(--black);
    border: 1px solid var(--neutral);
    border-radius: var(--margin_base);
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

@media (min-width: 720px) {}

@media (min-width: 1152px) {
    .fm_request .actions {
        justify-content: flex-start;
    }

    .fm_request .actions .button_action:hover {
        color: var(--pure_white);
        background-color: var(--red);
        border-color: var(--red);
    }
}

@media (min-width: 1366px) {}

@-webkit-keyframes write {
    from {
        width: 100%;
        margin-right: 0px;
    }

    to {
        width: 0%;
        margin-left: var(--margin_base);
    }

}

@keyframes write {
    from {
        width: 100%;
        margin-right: 0px;
    }

    to {
        width: 0%;
        margin-left: var(--margin_base);
    }
}