<div [id]="id" class="fm_request {{class}} {{location}}" (window:resize)="on_resize($event);">
    <div class="data">
        <div class="question">
            <div class="user">
                <p class="min_text value">{{"common.t0023" | translate}}</p>
            </div>
            <p class="min_title question_text">{{request.question | translate}}</p>
        </div>
        <div class="answer">
            <div class="ia">
                <p class="min_text value">{{"QiaC" | translate}}</p>
            </div>
            <!--<tp-writer class="text answer_text" [selector]="'request_twp'" [options]="request_options"></tp-writer>-->
            <div class="text answer_text">
                <p class="value_text" [innerHTML]="request.answer" translate></p>
                <span class="indicator">&#160;</span>
            </div>
        </div>
    </div>
    <div class="actions" *ngIf="request.context">
        <div class="button_action min_text" *ngIf="!context_mode" (click)="on_off_context();">
            {{"for_modules.requests.t0000" |
            translate}}</div>
        <div class="button_action min_text" *ngIf="context_mode" (click)="on_off_context();">
            {{"for_modules.requests.t0001" |
            translate}}</div>
    </div>
    <p class="min_text context" [innerHTML]="request.context" *ngIf="context_mode && request.context" translate></p>
</div>