
.icon_account_circle:before { content: '\e800'; } /* '' */
.icon_close:before { content: '\e801'; } /* '' */
.icon_chat_add_on:before { content: '\e802'; } /* '' */
.icon_delete:before { content: '\e803'; } /* '' */
.icon_edit_square:before { content: '\e804'; } /* '' */
.icon_menu:before { content: '\e805'; } /* '' */
.icon_qaic:before { content: '\e806'; } /* '' */
.icon_settings:before { content: '\e809'; } /* '' */
.icon_question_mark:before { content: '\e80a'; } /* '' */
.icon_attach:before { content: '\e80b'; } /* '' */
.icon_keyboard_return:before { content: '\e80c'; } /* '' */
.icon_arrow_back:before { content: '\e80e'; } /* '' */
.icon_unfold_more:before { content: '\e80f'; } /* '' */
.icon_home:before { content: '\e810'; } /* '' */
.icon_ink_eraser:before { content: '\e811'; } /* '' */
.icon_transition_right:before { content: '\e812'; } /* '' */
.icon_transition_left:before { content: '\e813'; } /* '' */
