@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?95138528');
  src: url('../font/icons.eot?95138528#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?95138528') format('woff2'),
       url('../font/icons.woff?95138528') format('woff'),
       url('../font/icons.ttf?95138528') format('truetype'),
       url('../font/icons.svg?95138528#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?95138528#icons') format('svg');
  }
}
*/
[class^="icon_"]:before, [class*=" icon_"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon_account_circle:before { content: '\e800'; } /* '' */
.icon_close:before { content: '\e801'; } /* '' */
.icon_chat_add_on:before { content: '\e802'; } /* '' */
.icon_delete:before { content: '\e803'; } /* '' */
.icon_edit_square:before { content: '\e804'; } /* '' */
.icon_menu:before { content: '\e805'; } /* '' */
.icon_qaic:before { content: '\e806'; } /* '' */
.icon_settings:before { content: '\e809'; } /* '' */
.icon_question_mark:before { content: '\e80a'; } /* '' */
.icon_attach:before { content: '\e80b'; } /* '' */
.icon_keyboard_return:before { content: '\e80c'; } /* '' */
.icon_arrow_back:before { content: '\e80e'; } /* '' */
.icon_unfold_more:before { content: '\e80f'; } /* '' */
.icon_home:before { content: '\e810'; } /* '' */
.icon_ink_eraser:before { content: '\e811'; } /* '' */
.icon_transition_right:before { content: '\e812'; } /* '' */
.icon_transition_left:before { content: '\e813'; } /* '' */
